#This playboook used for preperaing undercloud for Ironic inspector tempest tests.
#The main idea is to create downstream CI job for ironic and run tests on the undercloud.
#Actions:
#Registers node into ironic list
#Updates baremetal flavor
#Creates initial tempest.conf file
#Enables ironic inspector and required drivers in inronic
#Makes desired network shared
#Installs rhos-release repos into tester
#Configures data network on tester node

- name: Prepare introspection
  tags: ironic_pre_introspection
  hosts: undercloud
  gather_facts: yes
  become: yes
  become_user: "{{ installer.user.name }}"
  vars:
      undercloud_provision_cidr: "{{ ansible_br_ctlplane.ipv4.network }}/{{ ansible_br_ctlplane.ipv4.netmask }}"
      custom_instack: "{{ (installer.instackenv|default({})).file | default('') }}"
  tasks:
    - name: "Set selinux state on undercloud after install"
      selinux:
          policy: "targeted"
          state: "{{ installer.selinux | default('enforcing') }}"
      become: yes
      become_user: "root"
      become_method: "sudo"

    # User provided file overwrites everything
    - name: check if instackenv is under the deployment folder
      stat:
          path: "{{ installer.deployment.files.rstrip('/') }}/instackenv.json"
      delegate_to: localhost
      become: no
      register: old_custom_instack
      when: custom_instack == ''
      changed_when: custom_instack == ''

    - set_fact:
          old_custom_instack_path: "{{ old_custom_instack.stat.path }}"
      when: old_custom_instack|changed and old_custom_instack.stat.exists != false

    - name: copy instackenv if provided by the user
      copy:
          src: "{{ (custom_instack != '') | ternary(custom_instack, old_custom_instack_path) }}"
          dest: "/home/{{ installer.user.name }}/{{ custom_instack | basename }}"
      when: custom_instack != '' or old_custom_instack.stat.exists
      register: inject_instackenv

    - set_fact:
          inject_instackenv_name: "{{ inject_instackenv.dest|basename }}"
      when: inject_instackenv|changed

    - name: verify that instackenv json file exists
      vars:
          target: "{{ (inject_instackenv|changed) | ternary((inject_instackenv_name), 'instackenv.json') }}"

      stat:
          path: "/home/{{ installer.user.name }}/{{ target }}"
      register: instack_file_path

    - set_fact:
          instack_file: "{{ instack_file_path.stat.path }}"
      when: instack_file_path.stat.exists

    - fail:
          msg: "instackenv file is missing"
      when: not instack_file_path.stat.exists

    - name: register our hosts to instack
      shell: "source ~/stackrc; openstack baremetal import --json {{ instack_file }}"

    - name: update flavor propreties with cpu arch
      shell: "source ~/stackrc; openstack flavor set --property \"cpu_arch\"=\"x86_64\" baremetal"

    - name: assign the kernel and ramdisk before introspection begins
      shell: "source ~/stackrc; openstack baremetal configure boot"


- name: Create initial tempest.conf file
  tags: ironic_tempest_conf
  hosts: undercloud
  gather_facts: yes
  tasks:
    - name: prepare rc file for fetching
      shell: "source /home/stack/{{ rc_file_name }}; sed -i 's/$(sudo hiera admin_password)/'$OS_PASSWORD'/g' /home/stack/stackrc"
      when: rc_file_name == 'stackrc'

    - name: fetch deployer output for tester
      fetch:
        src: "/home/stack/{{ rc_file_name }}"
        dest: "{{ inventory_dir }}/keystonerc"
        flat: yes

    - name: get baremetal flavor id
      shell: "source ~/stackrc; openstack flavor list | grep baremetal | awk '{print $2;}'"
      register: flavor_id

    - name: create initial tempest config file
      become: no
      template:
        src: templates/ironic-tempest-deployer-input.conf.j2
        dest: "{{ inventory_dir }}/tempest-deployer-input.conf"
      delegate_to: localhost


- name: Enable ironic inspector and required driver
  tags: ironic_enable_inspector_and_driver
  hosts: undercloud
  gather_facts: yes
  tasks:
    - name: enable ironic inspector
      ini_file:
        dest: /etc/ironic/ironic.conf
        section: inspector
        option: enabled
        value: true
        backup: yes

    - name: enable fake and pxe_ssh drivers
      ini_file:
        dest: /etc/ironic/ironic.conf
        section: DEFAULT
        option: enabled_drivers
        value: fake,pxe_ssh
        backup: yes

    - name: apply ironic changes
      shell: "for i in $(systemctl | grep ironic | awk '{print $1;}'); do systemctl restart $i; done"

    - name: make neutron network shared
      shell: "source /home/stack/{{ rc_file_name }}; neutron net-update $(neutron net-list | grep {{ net_name }} | awk '{print $2;}') --shared=True"


- name: Installing the tester
  tags:
      - tester
      - backup
  hosts: tester
  roles:
      - role: installer/rhos-release
        rr_rpm_url: "{{ installer.product.rpm }}"
        director_version: "{{ installer.product.version }}"
        director_build: "{{ installer.product.build }}"
        core_version: "{{ installer.product.core.version }}"
        core_build: "{{ installer.product.core.build }}"
        rr_distro_version: "{{ hostvars[groups.undercloud[0]].ansible_distribution_version }}"
        mirror: "{{ installer.mirror | default(omit) }}"
  tasks:
      #Openstack client need to be installed in case tests are run on tester node and not on undercloud
      #because basic tester node installation doesn't have client installed
      - name: install openstack client to tester node
        yum:
          name: python-openstackclient
        when: installer.type == "ospd"


- name: Configure data network on tester node.
  tags: tester_data_network
  hosts: tester
  gather_facts: yes
  tasks:
    - name: create data network interface file
      template:
        src: templates/tester-data-network-config.j2
        dest: "/etc/sysconfig/network-scripts/ifcfg-eth0"

    - name: apply configurations
      shell: "ifdown eth0; ifup eth0"


- name: Perform introspection
  hosts: undercloud
  gather_facts: yes
  become: yes
  become_user: "{{ installer.user.name }}"
  tasks:
    - name: introspect nodes if required
      shell: "source ~/stackrc; openstack baremetal introspection bulk start"
      register: introspection_result
      failed_when: introspection_result.rc != 0
      when: introspect_nodes | default(False)
