---
- name: Set a fence key file path as a fact
  hosts: localhost:virthost:controller:compute
  tasks:
      - set_fact:
          fence_key_file: "{{ lookup('env', 'PWD') }}/fence_xvm.key"

- name: Preparatory work for fencing setup
  hosts: localhost
  tasks:
      - name: Create fence key
        args:
          creates: "{{ fence_key_file }}"
        command: "dd if=/dev/random of={{ fence_key_file }} bs=512 count=1"

- name: Create remote /etc/cluster folder and copy key
  hosts: virthost:controller:compute
  become: yes
  become_method: sudo
  gather_facts: yes
  tasks:
      - name: Create remote /etc/cluster folder
        file:
          path: /etc/cluster
          state: directory
          mode: 0755
      - name: Copy fence key
        copy:
          src: "{{ fence_key_file }}"
          dest: /etc/cluster/
          mode: 0644

- name: Configure virt fencing prerequisites on virthost
  hosts: virthost
  become: yes
  become_method: sudo
  tasks:
      - name: Install virt fencing packages
        yum:
          name: "{{ item }}"
          state: present
        with_items:
          - fence-virt
          - fence-virtd
          - fence-virtd-multicast
          - fence-virtd-libvirt
      - name: Deploy fence virtd configuration
        template:
          src: templates/fence_virtd.j2
          dest: /etc/fence_virt.conf
          mode: 0644
      - name: Ease iptables rules
        iptables:
          chain: INPUT
          protocol: igmp
          jump: ACCEPT
      - name: Restart fence_virtd deamon
        service:
          name: fence_virtd
          enabled: yes
          state: restarted

- name: Run setup as root, to get all facter data
  hosts: controller
  gather_facts: yes
  become: yes
  become_method: sudo
  tasks:
      - setup:

- name: Configure fencing on overcloud controllers
  hosts: controller[0]
  become: yes
  become_method: sudo
  tasks:
      - name: Make sure stonith property is set to false
        command: pcs property set stonith-enabled=false

      - name: Start create-stonith script which configures fencing
        shell: |
          hostname={{ hostvars[item]['ansible_hostname'] }}
          vm_uuid={{ hostvars[item]['facter_uuid'] }}
          pcs stonith delete my-stonith-xvm-$hostname || /bin/true
          pcs stonith create my-stonith-xvm-$hostname fence_xvm port=$vm_uuid pcmk_host_list=$hostname use_uuid=1 op monitor interval=30s
        with_items: "{{ groups['controller'] }}"

      - name: Make sure sotnith property is set to true
        command: pcs property set stonith-enabled=true
