---
# Free IPA settings
freeipa_node: "{{ groups['freeipa'][0] }}"
freeipa_network_protocol: "{{ (install|default({})).get('network', {}).get('protocol', 'ipv4') }}"
freeipa_node_ipaddress: "{{ (freeipa_network_protocol == 'ipv4') | ternary(hostvars[freeipa_node].ansible_eth2.ipv4.address, hostvars[freeipa_node].ansible_eth2.ipv6[0].address) }}"
freeipa_node_ipv4_address: "{{ hostvars[freeipa_node].ansible_eth2.ipv4.address }}"
freeipa_setup_script: https://raw.githubusercontent.com/openstack/tripleo-heat-templates/master/ci/scripts/freeipa_setup.sh
freeipa_working_dir: /tmp
freeipa_admin_password: 12345678
freeipa_hosts_secret: redhat
freeipa_directory_manager_password: redhat_01
freeipa_cloud_domain: redhat.local
freeipa_extra_args: "--no-dnssec-validation"

# Epel repo location
freeipa_epel_repo_url: http://ae.mirror.rasanegar.com/fedoraproject/pub/epel/7Server/x86_64/Packages/e/epel-release-7-11.noarch.rpm

# Additional yum repos
freeipa_additional_repos:
  - rhelosp-rhel-7.6-server-opt

# Undercloud settings
freeipa_undercloud_node: "{{ groups['undercloud'][0] }}"
freeipa_undercloud_rc: "~/stackrc"
freeipa_undercloud_ipaddress: "{{ (freeipa_network_protocol == 'ipv4') | ternary(hostvars[groups['undercloud'][0]].ansible_eth2.ipv4.address, hostvars[groups['undercloud'][0]].ansible_eth2.ipv6[0].address) }}"

# Overcloud settings
freeipa_overcloud_deploy_script: "~/overcloud_deploy.sh"
freeipa_overcloud_stack: "{{ (install|default({})).get('overcloud', {}).get('stack', 'overcloud') }}"
freeipa_source_dir: "{{ (install|default({})).get('deployment', {}).get('files', 'virt') }}"
freeipa_templates_basedir: "{{ hostvars[groups['undercloud'][0]].ansible_user_dir }}/{{ freeipa_source_dir | basename }}"
freeipa_heat_templates_basedir: "{{ (install|default({})).get('heat', {}).get('templates', {}).get('basedir', '/usr/share/openstack-tripleo-heat-templates') }}"
freeipa_use_ceph: "{{ ( True if (install.storage|default({})).backend|default('') == 'ceph' else False ) }}"
freeipa_network_environment_file: "{{ freeipa_templates_basedir }}/network/network-environment.yaml"
freeipa_network_environment_v6_file: "{{ freeipa_templates_basedir }}/network/network-environment-v6.yaml"

# Shade settings
freeipa_shade_node: "{{ groups.shade | first }}"
