---
# Free IPA settings
freeipa_node: "{{ groups['freeipa'][0] }}"
freeipa_network_protocol: "{{ (install|default({})).get('network', {}).get('protocol', 'ipv4') }}"
freeipa_node_ipaddress: "{{ (freeipa_network_protocol == 'ipv4') | ternary(hostvars[freeipa_node].ansible_eth2.ipv4.address, hostvars[freeipa_node].ansible_eth2.ipv6[0].address) }}"
freeipa_node_ipv4_address: "{{ hostvars[freeipa_node].ansible_eth2.ipv4.address }}"
freeipa_setup_script: https://opendev.org/openstack/tripleo-heat-templates/raw/branch/master/ci/scripts/freeipa_setup.sh
freeipa_working_dir: /tmp
freeipa_admin_password: 12345678
freeipa_hosts_secret: redhat
freeipa_directory_manager_password: redhat_01
freeipa_cloud_domain: "{{ (install|default({})).get('overcloud', {}).get('domain', 'redhat.local') }}"
freeipa_domain: "{{ (install|default({})).get('freeipa', {}).get('domain', 'redhat.local') }}"
freeipa_extra_args: "--no-dnssec-validation"

# Epel repo location
freeipa_rhel7_epel_repo_url: https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm

# Additional yum repos
freeipa_rhel7_additional_repos:
  - rhelosp-rhel-7.8-server-opt
freeipa_rhel8_dnf_modules:
  - "idm:DL1/server"
  - "389-ds"
  - "pki-deps"

# Undercloud settings
freeipa_undercloud_node: "{{ groups['undercloud'][0] }}"
freeipa_undercloud_rc: "~/stackrc"
freeipa_undercloud_interface: "{{ (install|default({})).get('freeipa', {}).get('undercloud', {}).get('interface', 'eth2') }}"
freeipa_undercloud_ipaddress: "{{ (freeipa_network_protocol == 'ipv4') | ternary(hostvars[groups['undercloud'][0]]['ansible_' + freeipa_undercloud_interface]['ipv4']['address'], hostvars[groups['undercloud'][0]]['ansible_' + freeipa_undercloud_interface]['ipv6'][0]['address']) }}"
# Overcloud settings
freeipa_overcloud_deploy_script: "~/overcloud_deploy.sh"
freeipa_overcloud_stack: "{{ (install|default({})).get('overcloud', {}).get('stack', 'overcloud') }}"
freeipa_source_dir: "{{ (install|default({})).get('deployment', {}).get('files', 'virt') }}"
freeipa_templates_basedir: "{{ hostvars[groups['undercloud'][0]].ansible_user_dir }}/{{ freeipa_source_dir | basename }}"
freeipa_heat_templates_basedir: "{{ (install|default({})).get('heat', {}).get('templates', {}).get('basedir', '/usr/share/openstack-tripleo-heat-templates') }}"
freeipa_use_ceph: "{{ ( True if (install.storage|default({})).backend|default('') == 'ceph' else False ) }}"
freeipa_enable_novajoin: "{{ (install.enable|default({})).novajoin|default('True')|bool }}"
freeipa_overcloud_install_packages: "{{ install.splitstack|default('False')|bool }}"
freeipa_network_environment_file: "{{ freeipa_templates_basedir }}/network/network-environment.yaml"
freeipa_network_environment_v6_file: "{{ freeipa_templates_basedir }}/network/{{ 'network-environment-v6.yaml' if freeipa_network_protocol == 'ipv6' else 'network-environment-v6-all.yaml' }}"
freeipa_forwarder: "{{ (install|default({})).get('ipa', {}).get('forwarder', 'hypervisor') }}"
freeipa_issue_public_endpoint_certs: "{{ (install|default({})).get('ipa',{}).get('issue', {}).get('public', {}).get('certs', 'True')|bool }}"

# Shade settings
freeipa_shade_node: "{{ groups.shade | first }}"
