[DEFAULT]
# If set to true, the logging level will be set to DEBUG instead of
# the default INFO level. (boolean value)
# Note: This option can be changed without restarting.
#debug = false

[benchmark]

# Server boot timeout (floating point value)
#nova_server_boot_timeout = 300.0

[cleanup]
# Number of cleanup threads to run (integer value)
#cleanup_threads = 20

[database]
# The SQLAlchemy connection string to use to connect to the database.
# (string value)
# Deprecated group/name - [DEFAULT]/sql_connection
# Deprecated group/name - [DATABASE]/sql_connection
# Deprecated group/name - [sql]/connection
#connection = <None>
connection=sqlite:////tmp/{{browbeat_user}}.sqlite
