#!/bin/bash

echo "Retrieving logs via heat-admin"
source ~/stackrc
mkdir logs-via-heat-admin
cd logs-via-heat-admin
SERVERS=`openstack server list -f json`
SERVERNAMES=`echo $SERVERS | jq -r .[].Name`
LIST_LN=`echo $SERVERNAMES | wc -w`
i=0
while [ $i -lt $LIST_LN ]; do
       IP=`echo $SERVERS | jq -r .[$i].Networks | awk -F'=' '{print $2}'`
       SERVERNAME=`echo $SERVERS | jq -r .[$i].Name`
       ssh heat-admin@$IP "sudo tar -cf logs.tar /var/log/containers/"
       scp heat-admin@$IP:~/logs.tar ./$SERVERNAME-logs.tar
       let i=i+1
done
