#!/bin/bash

. ~/stackrc
openstack -vvvv overcloud deploy \
--timeout {{ install.deployment.timeout | int | default(100) }} --ansible-forks 8 \
--templates {{ install.heat.templates.basedir }} \
--stack {{ install.overcloud.stack }} \
--libvirt-type {{ install.libvirt.type }} \
{% if install.overcloud.ssh.user != '' %}
--overcloud-ssh-user {{ install.overcloud.ssh.user }} \
{% endif %}
--disable-validation \
-r {{ template_base }}/roles/roles_data.yaml \
-e /usr/share/openstack-tripleo-heat-templates/environments/deployed-server-environment.yaml \
{% if install.version|default(undercloud_version) |openstack_release < 16 %}
-e /usr/share/openstack-tripleo-heat-templates/environments/deployed-server-bootstrap-environment-rhel.yaml \
{% endif %}
{% if install.version|default(undercloud_version) |openstack_release < 15 %}
-e /usr/share/openstack-tripleo-heat-templates/environments/deployed-server-pacemaker-environment.yaml \
{% endif %}
-e {{ template_base }}/network-config.yaml \
-e {{ template_base }}/ctrlplane-template.yml \
