#!/bin/bash

. ~/stackrc
openstack overcloud deploy \
--timeout {{ install.deployment.timeout | int | default(100) }} \
--templates {{ install.heat.templates.basedir }} \
--stack {{ install.overcloud.stack }} \
--libvirt-type {{ install.libvirt.type }} \
{% if install.overcloud.ssh.user != '' %}
--overcloud-ssh-user {{ install.overcloud.ssh.user }} \
{% endif %}
--disable-validation \
-r {{ template_base }}/roles/roles_data.yaml \
{% if install.version|default(undercloud_version) |openstack_release >= 17 %}
--deployed-server \
-e /home/stack/templates/overcloud-baremetal-deployed.yaml \
-e /home/stack/templates/overcloud-networks-deployed.yaml \
-e /home/stack/templates/overcloud-vip-deployed.yaml \
-n /home/stack/composable_roles/network/network_data_v2.yaml \
{% else %}
-e /usr/share/openstack-tripleo-heat-templates/environments/deployed-server-environment.yaml \
{% endif %}
{% if install.version|default(undercloud_version) |openstack_release < 16 %}
-e /usr/share/openstack-tripleo-heat-templates/environments/deployed-server-bootstrap-environment-rhel.yaml \
{% endif %}
{% if install.version|default(undercloud_version) |openstack_release < 15 %}
-e /usr/share/openstack-tripleo-heat-templates/environments/deployed-server-pacemaker-environment.yaml \
{% endif %}
{% if install.version|default(undercloud_version) |openstack_release < 17 %}
-e {{ template_base }}/network-config.yaml \
-e {{ template_base }}/ctrlplane-template.yml \
{% endif %}
