{% raw -%}
---
network_config:
{% endraw %}
{% if install.ironic and not install.remove.br.baremetal %}
- type: ovs_bridge
  name: br-baremetal
  members:
  - type: interface
    name: {{ install.br.baremetal.interface }}
    primary: true
{% if install.br.baremetal.interface != 'nic1' %}
- type: interface
  name: nic1
{% endif %}
{% else %}
- type: interface
  name: nic1
{% endif %}
  {% raw %}use_dhcp: false
  dns_servers: {{ ctlplane_dns_nameservers }}
  domain: {{ dns_search_domains }}
  addresses:
  - ip_netmask: {{ ctlplane_ip }}/{{ ctlplane_subnet_cidr }}
  routes:
  - ip_netmask: 0.0.0.0/0
    next_hop: {{ ctlplane_gateway_ip }}
    default: true
- type: vlan
  vlan_id: {{ internal_api_vlan_id }}
  device: nic1
  addresses:
  - ip_netmask: {{ internal_api_ip }}/{{ internal_api_cidr }}
- type: vlan
  vlan_id: {{ storage_vlan_id }}
  device: nic1
  addresses:
  - ip_netmask: {{ storage_ip }}/{{ storage_cidr }}
- type: vlan
  vlan_id: {{ storage_mgmt_vlan_id }}
  device: nic1
  addresses:
  - ip_netmask: {{ storage_mgmt_ip }}/{{ storage_mgmt_cidr }}
- type: ovs_bridge
  name: br-tenant
  use_dhcp: false
  members:
  - type: interface
    name: nic2
    primary: true
  - type: vlan
    vlan_id: {{ tenant_vlan_id }}
    addresses:
    - ip_netmask: {{ tenant_ip }}/{{ tenant_cidr }}
{% endraw %}
{% if install.network.dvr|bool or install.network.force.compute.dvr|bool %}
- type: ovs_bridge
  {% raw -%}
  name: {{ neutron_physical_bridge_name }}
{% endraw %}
  use_dhcp: false
  members:
  - type: interface
    name: nic3
    primary: true
{% else %}
- type: interface
  name: nic3
  use_dhcp: false
{% endif %}
