{% raw -%}
---
network_config:
- type: interface
  name: nic1
  use_dhcp: false
  addresses:
  - ip_netmask: {{ ctlplane_ip }}/{{ ctlplane_subnet_cidr }}
  routes:
  - default: true
    next_hop: {{ ctlplane_gateway_ip }}
- type: ovs_bridge
  name: br-isolated
  use_dhcp: false
  members:
  - type: interface
    name: nic2
    primary: true
  - type: vlan
    vlan_id: {{ internal_api_vlan_id }}
    addresses:
    - ip_netmask: {{ internal_api_ip }}/{{ internal_api_cidr }}
  - type: vlan
    vlan_id: {{ storage_vlan_id }}
    addresses:
    - ip_netmask: {{ storage_ip }}/{{ storage_cidr }}
  - type: vlan
    vlan_id: {{ storage_mgmt_vlan_id }}
    addresses:
    - ip_netmask: {{ storage_mgmt_ip }}/{{ storage_mgmt_cidr }}
{%- endraw %}
{%- if install.manila.storage.protocol == 'nfs-ganesha' %}
{% raw -%}
  - type: vlan
    vlan_id: {{ storage_nfs_vlan_id }}
    addresses:
    - ip_netmask: {{ storage_nfs_ip }}/{{ storage_nfs_cidr }}
{%- endraw %}
{% endif -%}
{% raw -%}
  - type: vlan
    vlan_id: {{ tenant_vlan_id }}
    addresses:
    - ip_netmask: {{ tenant_ip }}/{{ tenant_cidr }}
- type: ovs_bridge
  name: {{ neutron_physical_bridge_name }}
  dns_servers: {{ ctlplane_dns_nameservers }}
  domain: {{ dns_search_domains }}
  use_dhcp: false
  addresses:
  - ip_netmask: {{ external_ip }}/{{ external_cidr }}
  routes:
  - default: true
    next_hop: {{ external_gateway_ip }}
  members:
  - type: interface
    name: nic3
    primary: true
{% endraw %}
