{% raw -%}
---
network_config:
- type: interface
  name: nic1
  use_dhcp: false
  dns_servers: {{ ctlplane_dns_nameservers }}
  addresses:
  - ip_netmask: {{ ctlplane_ip }}/{{ ctlplane_subnet_cidr }}
  routes:
  - default: true
    next_hop: {{ ctlplane_gateway_ip }}
- type: vlan
  vlan_id: {{ internal_api_vlan_id }}
  device: nic1
  addresses:
  - ip_netmask: {{ internal_api_ip }}/{{ internal_api_cidr }}
- type: interface
  name: nic2
  use_dhcp: false
  defroute: false
- type: vlan
  vlan_id: {{ storage_vlan_id }}
  device: nic2
  addresses:
  - ip_netmask: {{ storage_ip }}/{{ storage_cidr }}
{% endraw %}
