---
- set_fact:
    rr_download_fqdn: ''
    rr_distro_version: "{{ rr_distro_version | default(ansible_distribution_version) }}"
    rr_target_directory: "{{ rr_target_directory|default('/etc/yum.repos.d') }}"
    director_version_value: "{{ (director_version is defined and director_version | int < 10) | ternary(director_version | default('') + '-director', None) }}"
    director_build_date_value: "{{ (director_build is defined and director_version is defined and director_version | int < 10) | ternary(director_build, None) }}"
- block:
    - name: copy select-mirror.sh into home
      copy:
          src: "select-mirror.sh"
          dest: "~/select-mirror.sh"
          mode: "0755"

    - name: run select-mirror with provided mirror value
      command: "~/select-mirror.sh {{ mirror }}"
      register: selected_mirror

    - name: process results of mirror selection
      set_fact:
          mirror_fqdn: "{{ selected_mirror.stdout | trim }}"
          rr_download_fqdn: "{{ selected_mirror.stdout | trim | ternary(selected_mirror.stdout|trim, '') }}"
  when: "mirror is defined and mirror"

- name: gather repo file names to remove
  find:
      path: "{{ rr_target_directory }}"
  register: files_to_remove

- name: remove all repo files
  file:
      state: absent
      path: "{{ item.path }}"
  with_items: "{{ files_to_remove.files }}"

- name: get the rhos-release RPM
  get_url:
      url: "{{ rr_rpm_url }}"
      dest: "/tmp/rhos-release-latest.rpm"
      validate_certs: "no"

- name: install the rhos-release RPM
  shell: "yum localinstall -y /tmp/rhos-release-latest.rpm"

- name: remove rhos-release repos if needed
  rhos_release:
      state: uninstall
      target_directory: "{{ rr_target_directory }}"


- name: create necessary repos for director using rhos-release
  rhos_release:
      state: install
      director_version: "{{ director_version_value | default(omit) }}"
      build_date: "{{ director_build_date_value | default(omit) }}"
      core_version: "{{ core_version }}"
      core_build_date: "{{ core_build }}"
      target_directory: "{{ rr_target_directory }}"
      distro_version: "{{ rr_distro_version }}"
      source_hostname: "{{ rr_download_fqdn }}"
  register: command_result
  until:
      - command_result.stderr.find('Connection reset by peer') == -1
      # workaround for the rr issue, when source_hostname
      # is incorrect and -P is given, no error will be returned
      # https://bugzilla.redhat.com/show_bug.cgi?id=1392012
      - (command_result.msg | default('')).find('Failed to parse release line') == -1
  retries: 40
  delay: 5

- block:
    - name: parse specific number of director puddle used from rhos-release output
      set_fact:
          director_puddle_version: "{{ command_result.releases.product.version }}"

    - debug:
          msg: "Build mark: director_puddle={{ director_puddle_version }}"
  when: director_version_value

- name: parse specific number of puddle used from rhos-release output
  set_fact:
      core_puddle_version: "{{ command_result.releases.core.version }}"

- debug:
      msg: "Build mark: core_puddle={{ core_puddle_version }}"

- block:
    - name: copy use-mirror.sh to home
      copy:
          src: "use-mirror.sh"
          dest: "~/use-mirror.sh"
          mode: 0755

    - name: reconfigure system to use mirror
      command: "~/use-mirror.sh {{ mirror_fqdn }}"
      args:
          chdir: "{{ rr_target_directory }}"
      register: mirror_used_cmd
      changed_when: "'Skipping mirror' not in mirror_used_cmd.stdout"
  when: "mirror_fqdn is defined and mirror_fqdn"

- name: refresh yum cache
  yum:
      name: kernel
      state: present
      update_cache: yes

- name: repolist
  command: yum -d 7 repolist
