{% set inventory_whitelist = [
   'ansible_connection',
   'ansible_host',
   'ansible_port',
   'ansible_python_interpreter',
   'ansible_ssh_common_args',
   'ansible_ssh_host',
   'ansible_ssh_port',
   'ansible_ssh_private_key_file',
   'ansible_ssh_user',
   'ansible_user',
  ]
%}
{% for host in groups['all'] if host not in (omit_groups_hosts|default([]) + omit_hosts) -%}

    {{ host -}}
    {% for k in (hostvars[host] | list | intersect(inventory_whitelist) | sort ) -%}
        {{ ' ' + k + '=' + (hostvars[host][k]) | quote }}
    {%- endfor %}

{% endfor -%}

{% for group in groups -%}
{% if group not in ['ungrouped', 'all'] and group not in omit_groups -%}
[{{ group -}}]
{% for host in groups[group] -%}
      {%- if host not in (omit_groups_hosts|default([]) + omit_hosts) -%}
{{- host -}}
      {%- endif -%}
{%- endfor -%}
{%- endif %}

{% endfor %}
