---
- name: Provision OpenStack resources
  hosts: localhost
  roles:
      - { role: provisioner/openstack/neutron, action: setup }
      - { role: provisioner/openstack/nova, action: setup }

- name: OpenStack Provisioner SSH wait
  hosts: openstack_nodes
  gather_facts: no
  any_errors_fatal: true
  tasks:
  - name: Waiting for OpenStack nodes to be SSH-able
    wait_for:
        host: "{{ ansible_ssh_host }}"
        port: 22
        search_regex: OpenSSH
        delay: 10
        timeout: 500
    delegate_to: localhost

- name: Setup data interface for the openstack_nodes
  hosts: openstack_nodes
  gather_facts: no
  become: yes
  become_user: root
  any_errors_fatal: true
  tasks:
      - name: Setup data interface
        template:
            src: templates/ifcfg-interface.j2
            dest: /etc/sysconfig/network-scripts/ifcfg-eth1
            owner: root
            group: root
            mode: 0644
        register: update_ifcfgs

      - name: Start interfaces
        shell: |
          ifdown eth1
          ifup eth1

      - name: Update to latest kernel
        shell: "sudo yum update -y http://download.eng.bos.redhat.com/brewroot/packages/kernel/3.10.0/519.el7/x86_64/kernel-3.10.0-519.el7.x86_64.rpm"

      - name: Reboot machine
        shell: reboot
        async: 0
        poll: 0

      - name: Wait for machine to comeback
        local_action: wait_for host={{ ansible_ssh_host }} state=started
