[submodule "provisioner"]
	path = plugins/ir-provision
	url = https://github.com/rhos-infra/ir-provision.git
[submodule "installer"]
	path = plugins/ir-installer
	url = https://github.com/rhos-infra/ir-installer.git
