[submodule "plugins/ir-provision"]
	path = plugins/ir-provision
	url = https://github.com/rhos-infra/ir-provision.git
[submodule "plugins/ir-installer"]
	path = plugins/ir-installer
	url = https://github.com/obaranov/ir-installer.git
