*.egg-info
*.eggs
*.log
*.pyc
*.retry
.cache
.idea/
.plugins.ini
.profiles
.tox/
.tox_*
.venv
.workspaces
.library/*
/.eggs
/AUTHORS
/ChangeLog
/ansible.cfg
/build
/dist
/docs/build/
infrared.cfg
/.eggs

!/plugins
/plugins/*
!/plugins/beaker
!/plugins/collect-logs
!/plugins/foreman
!/plugins/list-builds
!/plugins/openstack
!/plugins/ospdui
!/plugins/packstack
!/plugins/pytest-runner
!/plugins/rally
!/plugins/tempest
!/plugins/tripleo-overcloud
!/plugins/tripleo-undercloud
!/plugins/virsh
!/plugins/common-libraries
