*.egg-info
*.eggs
*.pyc
*.retry
.cache
.idea/
.plugins.ini
.profiles
.tox/
.tox_*
.venv
.workspaces
/.eggs
/AUTHORS
/ChangeLog
/ansible.cfg
/build
/dist
/docs/build/
/plugins/gabbi
/plugins/octario
/plugins/tripleo-upgrade
infrared.cfg
/.eggs
