*.egg-info
*.eggs
*.log
*.pyc
*.retry
.cache
.idea/
.plugins.ini
.profiles
.tox/
.tox_*
.venv
.workspaces
/.eggs
/AUTHORS
/ChangeLog
/ansible.cfg
/build
/dist
/docs/build/
infrared.cfg
/.eggs
/ir-commands.log
!/plugins
/plugins/*
!/plugins/beaker
!/plugins/collect-logs
!/plugins/foreman
!/plugins/list-builds
!/plugins/openstack
!/plugins/ospdui
!/plugins/packstack
!/plugins/pytest-runner
!/plugins/rally
!/plugins/tempest
!/plugins/tripleo-overcloud
!/plugins/tripleo-standalone
!/plugins/tripleo-undercloud
!/plugins/virsh
/.pytest_cache
# ignore infrared response files (.yml) which are saved by default in repo root
/*.yml
