# see https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg

[defaults]
# It is needed for openstack plugin
host_key_checking = False
#
forks = 500
timeout = 30
force_color = 1
show_custom_stats = True

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

# 'debug' (formerly human_readable) output prints multi-line stdout/stderr
# for humans instead of JSON. It has nothing to do with debugging.
# Users can still override this value by using ANSIBLE_STDOUT_CALLBACK
# stdout_callback = debug
