# see https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg

[defaults]
forks = 500

# SSH timeout
timeout = 30

# lucid : very brief console but detailed log files
stdout_callback = lucid


[paramiko_connection]
record_host_keys = False


[persistent_connection]


[ssh_connection]
host_key_checking = False
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

# keep [ssh_connection] last to allow appending control_path to it
