# With Ansible >=1.8, you should be able use this file directly.
[defaults]
host_key_checking = False

#The roles_path allows us to keep the root of khaleesi "clean", and put playbooks in a subdirectory without needing to use relative paths for the roles.
roles_path = roles:playbooks/installer/rdo-manager/roles

library = library:$VIRTUAL_ENV/lib/python2.7/site-packages/ansible/modules

pipelining = True
timeout = 30
force_color = 1

lookup_plugins = ./plugins/lookups
callback_plugins = ./plugins/callbacks
filter_plugins = ./plugins/filters

[ssh_connection]
control_path = %(directory)s/%%h-%%r

