# Example of the Infrared configuration. Holds default values.
[DEFAULTS]

[core]
# the base folder where all the profiles will be stored
profiles_base_folder = .profiles

# the plugins configuration file
plugins_conf_file = .plugins.ini
