# InfraRed configuration file
# ===========================

[defaults]
settings  = settings
modules   = library
roles     = roles
playbooks = playbooks

# list all the specs
[installer]
main_playbook = install.yml
cleanup_playbook = cleanup.yaml

[provisioner]
main_playbook = provision.yaml
cleanup_playbook = cleanup.yaml
