# InfraRed configuration file
# ===========================

[dirs]
settings_dir  = %(infrared_dir)s/settings
modules_dir   = %(infrared_dir)s/library
roles_dir     = %(infrared_dir)s/roles
playbooks_dir = %(infrared_dir)s/playbooks
