[DEFAULTS]
KHALEESI_DIR = /home/aopincar/Git/Repos/khaleesi
SETTINGS_DIR = %(KHALEESI_DIR)s/settings
MODULES_DIR = %(KHALEESI_DIR)s/library
ROLES_DIR = %(KHALEESI_DIR)s/roles
PLAYBOOKS_DIR = %(KHALEESI_DIR)s/playbooks
KCLI_SETTINGS_YML = kcli_settings.yml

[ROOT_OPTS]
provisioner
installer
tester
distro
product

[AUTO_EXEC_OPTS]
provision
install
test
