[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group rhosqeauto-core
	owner = group user/Avi Talmor (atalmor)
	owner = group user/Oleksii Baranov (obaranov)
	owner = group user/Queria Sa-Tas (queria)
	owner = group user/rhosqeauto (rhosqeauto)
	read = group Anonymous Users
	read = group rhosqeauto-contrib
	push = deny group Registered Users
	pushMerge = deny group Registered Users
[access "refs/for/refs/*"]
	read = group user/Oleksii Baranov (obaranov)
	push = deny group Registered Users
	push = group github/redhat-openstack
	push = group rhosqeauto-contrib
	push = group rhosqeauto-core
	push = group rhosqeauto-stable
	push = group user/Oleksii Baranov (obaranov)
	label-Code-Review = -2..+2 group user/Oleksii Baranov (obaranov)
	label-Verified = -1..+1 group user/Oleksii Baranov (obaranov)
	label-Workflow = -1..+1 group github/redhat-openstack
	label-Workflow = -1..+1 group github/rhos-infra
	label-Workflow = -1..+1 group rhosqeauto-core
	rebase = group github/redhat-openstack
	rebase = group rhosqeauto-contrib
	rebase = group rhosqeauto-core
	rebase = group rhosqeauto-stable
	rebase = group user/Yair Fried (yfried)
	removeReviewer = group user/Oleksii Baranov (obaranov)
	submit = group user/Oleksii Baranov (obaranov)
[access "refs/heads/*"]
	read = group user/Oleksii Baranov (obaranov)
	create = group rhosqeauto-stable
	create = group user/Oleksii Baranov (obaranov)
	push = group rhosqeauto-stable
	push = +force group user/Oleksii Baranov (obaranov)
	pushMerge = group rhosqeauto-stable
	pushMerge = group user/Oleksii Baranov (obaranov)
	forgeCommitter = group rhosqeauto-stable
	label-Code-Review = -2..+2 group rhosqeauto-core
	label-Code-Review = -2..+2 group rhosqeauto-stable
	label-Code-Review = -1..+1 group github/redhat-openstack
	label-Code-Review = -1..+1 group rhosqeauto-contrib
	label-Verified = -1..+1 group rhosqeauto-core
	label-Verified = -1..+1 group rhosqeauto-stable
	label-Verified = -1..+1 group user/rhosqeauto (rhosqeauto)
	label-Workflow = -1..+1 group github/redhat-openstack
	label-Workflow = -1..+1 group github/rhos-infra
	label-Workflow = -1..+1 group rhosqeauto-core
	rebase = group rhosqeauto-contrib
	rebase = group rhosqeauto-core
	rebase = group rhosqeauto-stable
	removeReviewer = group rhosqeauto-core
	removeReviewer = group rhosqeauto-stable
	submit = deny group Registered Users
	submit = group rhosqeauto-core
	submit = group rhosqeauto-stable
[access "refs/tags/*"]
	push = group rhosqeauto-stable
	push = +force group user/Oleksii Baranov (obaranov)
	create = group rhosqeauto-stable
	createTag = group rhosqeauto-stable
	createSignedTag = group rhosqeauto-stable
[access "refs/heads/infrared_v1"]
	push = deny group Registered Users
	push = group rhosqeauto-stable
