[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group rhosqeauto-contrib
	owner = group user/rhosqeauto
	owner = group user/yfried
	read = group Anonymous Users
	read = group rhosqeauto-contrib
	push = deny group Registered Users
	pushMerge = deny group Registered Users
[access "refs/for/refs/*"]
	read = group user/yfried
	push = deny group Registered Users
	push = group github/redhat-openstack
	push = group rhosqeauto-contrib
	push = group rhosqeauto-core
	push = group rhosqeauto-stable
	push = group user/yfried
	label-Code-Review = -2..+2 group user/yfried
	label-Verified = -1..+1 group user/yfried
	rebase = group github/redhat-openstack
	rebase = group rhosqeauto-contrib
	rebase = group rhosqeauto-core
	rebase = group rhosqeauto-stable
	rebase = group user/yfried
	removeReviewer = group user/yfried
	submit = group user/yfried
[access "refs/heads/*"]
	read = group user/yfried
	create = group rhosqeauto-stable
	create = group user/yfried
	push = group rhosqeauto-stable
	push = +force group user/yfried
	pushMerge = group rhosqeauto-stable
	pushMerge = group user/yfried
	forgeCommitter = group rhosqeauto-stable
	label-Code-Review = -2..+2 group rhosqeauto-core
	label-Code-Review = -2..+2 group rhosqeauto-stable
	label-Code-Review = -1..+1 group github/redhat-openstack
	label-Code-Review = -1..+1 group rhosqeauto-contrib
[access "refs/tags/*"]
	push = group user/yfried
	push = +force group user/yfried
