setuptools>=11.3
pytz>=2016.3
# TODO(yfried): remove this when shade is bumped beyoned 1.7
os-client-config==1.13.1
# TODO(yfried): remove this when shade is bumped beyoned 1.7
openstacksdk==0.9.8
shade==1.7.0
ansible==2.1.1
colorlog>=2.6.1
ipaddress==1.0.16
PyYAML>=3.11
yamlordereddictloader>=0.1.1
requests>=2.9.1
Babel!=2.3.0,!=2.3.1,!=2.3.2,!=2.3.3,>=1.3
