DEVICE={{ loadbalancer.network.ex_interface }}:0
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ loadbalancer.network.external.vip | ipaddr('address') }}
PREFIX={{ loadbalancer.network.external.vip | ipaddr('prefix') }}
USERCTL=no
NM_CONTROLLED=no
