DEVICE={{ loadbalancer.network.provision_interface }}.{{ loadbalancer.network.internal_api.vlanid }}
BOOTPROTO=static
ONBOOT=yes
{% if install.network.protocol == 'ipv4' %}
IPADDR1={{ loadbalancer.network.internal_api.vip | ipaddr('address') }}
IPADDR2={{ loadbalancer.network.redis.vip | ipaddr('address') }}
IPADDR3={{ loadbalancer.network.ovndbs.vip | ipaddr('address') }}
PREFIX1={{ loadbalancer.network.internal_api.vip | ipaddr('prefix') }}
PREFIX2={{ loadbalancer.network.redis.vip | ipaddr('prefix') }}
PREFIX3={{ loadbalancer.network.ovndbs.vip | ipaddr('prefix') }}
{% endif %}
{% if install.network.protocol != 'ipv4' %}
IPV6ADDR={{ loadbalancer.network.internal_api.vip | ipaddr('address') }}
IPV6PREFIX={{ loadbalancer.network.internal_api.vip | ipaddr('prefix') }}
IPV6ADDR_SECONDARIES="{{ loadbalancer.network.redis.vip | ipaddr('address') }} {{ loadbalancer.network.ovndbs.vip | ipaddr('address') }}"
IPV6INIT=yes
IPV6_AUTOCONF=no
{% endif %}
USERCTL=no
VLAN=yes
NM_CONTROLLED=yes
