DEVICE={{ loadbalancer.network.storage_interface }}.{{ loadbalancer.network.storage.vlanid }}
BOOTPROTO=static
ONBOOT=yes
{% if install.network.protocol != 'ipv4' %}
IPV6INIT=yes
IPV6_AUTOCONF=no
{% endif %}
IP{{ (install.network.protocol != 'ipv4') | ternary('V6','') }}ADDR={{ loadbalancer.network.storage.vip | ipaddr('address') }}
{{ (install.network.protocol != 'ipv4') | ternary('IPV6','') }}PREFIX={{ loadbalancer.network.storage.vip | ipaddr('prefix') }}
USERCTL=no
VLAN=yes
NM_CONTROLLED=yes
