DEVICE={{ loadbalancer.network.tenant_interface }}.{{ loadbalancer.network.tenant.vlanid }}
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ loadbalancer.network.tenant.vip | ipaddr('address') }}
PREFIX={{ loadbalancer.network.tenant.vip | ipaddr('prefix') }}
USERCTL=no
VLAN=yes
NM_CONTROLLED=yes
