- name: prepare the machine for undercloud deployment
  include: setup.yml

- name: copy our deployment folder
  copy:
      src: "{{ installer.deployment.files }}"
      dest: "/home/{{ installer.user.name }}/"
      directory_mode: 0755
      owner: "{{ installer.user.name }}"
      group: "{{ installer.user.name }}"

- name: create default undercloud.conf file
  copy:
      force: no
      remote_src: True
      src: "/usr/share/instack-undercloud/undercloud.conf.sample"
      dest: "/home/{{ installer.user.name }}/undercloud.conf"
      owner: "{{ installer.user.name }}"
      group: "{{ installer.user.name }}"
      mode: 0755

- name: check if undercloud.conf is under the deployment folder
  stat:
      path: "/home/{{ installer.user.name }}/{{ installer.deployment.files | regex_replace('/$','') | basename }}/undercloud.conf"
  register: undercloud_conf

- name: copy the undercloud.conf if provided with deployment folder
  copy:
      force: yes
      remote_src: True
      src: "/home/{{ installer.user.name }}/{{ installer.deployment.files | regex_replace('/$','') | basename }}/undercloud.conf"
      dest: "/home/{{ installer.user.name }}/undercloud.conf"
      owner: "{{ installer.user.name }}"
      group: "{{ installer.user.name }}"
      mode: 0644
  when: undercloud_conf.stat.exists

- name: copy our configuration if provided by the user
  copy:
      src: "{{ installer.undercloud.config }}"
      dest: "/home/{{ installer.user.name }}/undercloud.conf"
      owner: "{{ installer.user.name }}"
      group: "{{ installer.user.name }}"
      mode: 0644
      force: yes
  when: installer.undercloud.config | default(none)

- name: install the undercloud
  become: yes
  become_user: "{{ installer.user.name }}"
  shell: "openstack undercloud install --debug &> undercloud_install.log"
  register: undercloud_deployment
  ignore_errors: yes

- name: print the last 30 lines of the undercloud installation
  become: yes
  become_user: "{{ installer.user.name }}"
  shell: "tail -n30 undercloud_install.log"

- fail:
      msg: "Undercloud deployment failed... :("
  become: yes
  become_user: "{{ installer.user.name }}"
  failed_when: undercloud_deployment.rc != 0

- name: gathering new facts about the undercloud
  setup:
