- name: set hostname
  hostname:
      name: undercloud.redhat.local

- name: update /etc/hosts with undercloud details
  lineinfile:
      dest: "/etc/hosts"
      line: "{{ ansible_ssh_host }}    undercloud.redhat.local undercloud"
      state: present

- name: remove all repos from /etc/yum.repos.d
  file:
      path: "/etc/yum.repos.d/"
      state: absent

- name: make sure /etc/yum.repos.d is present
  file:
      path: "/etc/yum.repos.d/"
      state: directory

- name: install the rhos-release RPM
  shell: "yum localinstall -y {{ installer.product.rpm }}"

- block:
    - debug:
          msg: "rhos-release {{ installer.product.version }}-director -P -p {{ installer.product.build }}"

    - name: create necessary repos with for director using rhos-release
      command: "rhos-release {{ installer.product.version }}-director -P -p {{ installer.product.build }}"
      register: command_result
      until: command_result.stderr.find('Connection reset by peer') == -1
      retries: 40
      delay: 5
  when: "{{ installer.product.version | int }} < 10"

- debug:
      msg: "rhos-release {{ installer.product.core.version }} -P -p {{ installer.product.core.build }}"

- name: create necessary repos for core using rhos-release
  command: "rhos-release {{ installer.product.core.version }} -P -p {{ installer.product.core.build }}"
  register: command_result
  until: command_result.stderr.find('Connection reset by peer') == -1
  retries: 40
  delay: 5

- name: Creating extra repositories
  yum_repository:
    name: "{{ item.name }}"
    state: "{{ item.name | default(omit) }}"
    file: "{{ item.file| default(omit) }}"
    description: "{{ item.description | default(omit) }}"
    baseurl: "{{ item.baseurl | default(omit) }}"
    mirrorlist: "{{ item.mirrorlist | default(omit) }}"
    enabled: "{{ item.enabled | default(omit) }}"
    gpgcheck: "{{ item.gpgcheck | default(omit) }}"
  with_items: "{{ ospd.extra_repos.explicit | default([]) }}"
  when: ospd.extra_repos.from_config

- name: Downloading extra repositories
  get_url:
    url="{{ item }}"
    dest=/etc/yum.repos.d/
  with_items: "{{ ospd.extra_repos.from_url | default([]) }}"
  when: ospd.extra_repos.from_url

- name: update system packages
  yum:
      state: latest
      name: "*"
  register: update

- name: reboot the undercloud
  shell: "sleep 2 && shutdown -r now"
  async: 1
  poll: 0
  ignore_errors: true
  when: update.changed

- name: waiting for the undercloud to be available
  wait_for:
      port: 22
      host: "{{ ansible_ssh_host }}"
      search_regex: OpenSSH
      delay: 10
  delegate_to: "{% if 'virthost' in groups %}virthost{% else %}localhost{% endif %}"
  when: update.changed

- name: install the oscplugin/tripleO client
  yum:
      name: "{{ (installer.product.version == '7') | ternary('python-rdomanager-oscplugin', 'python-tripleoclient') }}"
      state: present

- name: create user
  user:
      name: "{{ installer.user.name }}"
      state: present
      password: "{{ installer.user.password | password_hash('sha512') }}"

- name: add user to sudoers
  lineinfile:
      dest: "/etc/sudoers"
      line: "{{ installer.user.name }} ALL=(root) NOPASSWD:ALL"
