---
- name: Copy to Task Files Rally
  hosts: tester
  tasks:
  - name: Copy Task file from settings
    copy:
      dest: "{{ tester.rally.dir }}/{{ tester.rally.taskfile }}"
      src: "{{ tester.tests.rally.task  }}"
      force: yes

- name: Run Rally Task
  hosts: tester
  tasks:
  - name: Check Rally deployment
    command: "{{ tester.rally.path }}/bin/rally deployment check"
  - name: Start Rally task
    command: "{{ tester.rally.path }}/bin/rally -v task start --task {{ tester.rally.dir }}/{{ tester.rally.taskfile }}"
