---
- name: Copy to Task Files Rally
  hosts: tester
  become: yes
  any_errors_fatal: true
  tasks:
  - name: Copy Task file from settings
    copy:
      dest: "{{ tester.rally.dir }}/{{ tester.rally.taskfile }}"
      content: "{{ tester.tests.rally.task | to_nice_json }}"
      force: yes
    when: tester.tests.rally.task is defined

- name: Run Rally Task
  hosts: tester
  become: yes
  any_errors_fatal: true
  tasks:
  - name: Check Rally deployment
    command: "{{ tester.rally.path }}/bin/rally deployment check"
  - name: Start Rally task
    command: "{{ tester.rally.path }}/bin/rally task start --task {{ tester.rally.taskdir | default(tester.rally.dir)  }}/{{ tester.rally.taskfile }}"
