parameter_defaults:
{% if install.version|default(undercloud_version)|openstack_release == 10 %}
  ServiceNetMap:
    NeutronTenantNetwork: tenant
    CeilometerApiNetwork: internal_api
    MongoDbNetwork: internal_api
    CinderApiNetwork: internal_api
    CinderIscsiNetwork: storage
    GlanceApiNetwork: storage
    GlanceRegistryNetwork: internal_api
    KeystoneAdminApiNetwork: internal_api
    KeystonePublicApiNetwork: internal_api
    NeutronApiNetwork: internal_api
    HeatApiNetwork: internal_api
    NovaApiNetwork: internal_api
    NovaMetadataNetwork: internal_api
    NovaVncProxyNetwork: internal_api
    SwiftMgmtNetwork: storage_mgmt
    SwiftProxyNetwork: storage
    HorizonNetwork: internal_api
    MemcachedNetwork: internal_api
    RabbitMqNetwork: internal_api
    RedisNetwork: internal_api
    MysqlNetwork: internal_api
    CephClusterNetwork: storage_mgmt
    CephPublicNetwork: storage
    ControllerHostnameResolveNetwork: internal_api
    ComputeHostnameResolveNetwork: internal_api
    BlockStorageHostnameResolveNetwork: internal_api
    ObjectStorageHostnameResolveNetwork: internal_api
    CephStorageHostnameResolveNetwork: storage
    AodhApiNetwork: internal_api
    GnocchiApiNetwork: internal_api
    SaharaApiNetwork: internal_api
    NovaColdMigrationNetwork: ctlplane
    NovaLibvirtNetwork: internal_api
{% endif %}
{% if install.version|default(undercloud_version)|openstack_release > 10 %}
  ServiceNetMap:
    KeystoneAdminApiNetwork: internal_api # allows undercloud to config endpoints
{% endif %}
  RedisPassword: 'examplepassword'
{% if install.version|default(undercloud_version)|openstack_release == 10 %}
  ControlPlaneIP: {{ loadbalancer.network.plain.ip | ipaddr('address') }}
  ExternalNetworkVip: {{ loadbalancer.network.external.vip | ipaddr('address') }}
  InternalApiNetworkVip: {{ loadbalancer.network.internal_api.vip | ipaddr('address') }}
  StorageNetworkVip: {{ loadbalancer.network.storage.vip | ipaddr('address') }}
  StorageMgmtNetworkVip: {{ loadbalancer.network.storage_mgmnt.vip | ipaddr('address') }}
  ServiceVips:
    redis: {{ loadbalancer.network.redis.vip | ipaddr('address') }}
{% endif %}
{% if install.version|default(undercloud_version)|openstack_release > 10 %}
  ControlFixedIPs: [{'ip_address':'{{ loadbalancer.network.plain.ip | ipaddr('address') }}'}]
  PublicVirtualFixedIPs: [{'ip_address':'{{ loadbalancer.network.external.vip | ipaddr('address') }}'}]
  InternalApiVirtualFixedIPs: [{'ip_address':'{{ loadbalancer.network.internal_api.vip | ipaddr('address') }}'}]
  StorageVirtualFixedIPs: [{'ip_address':'{{ loadbalancer.network.storage.vip | ipaddr('address') }}'}]
  StorageMgmtVirtualFixedIPs: [{'ip_address':'{{ loadbalancer.network.storage_mgmnt.vip | ipaddr('address') }}'}]
  RedisVirtualFixedIPs: [{'ip_address':'{{ loadbalancer.network.redis.vip | ipaddr('address') }}'}]
  OVNDBsVirtualFixedIPs: [{'ip_address':'{{ loadbalancer.network.ovndbs.vip | ipaddr('address') }}'}]
{% endif %}
  ControllerIPs:
    external_cidr: "{{ loadbalancer.network.external.vip | ipaddr('prefix') }}"
    internal_api_cidr: "{{ loadbalancer.network.internal_api.vip | ipaddr('prefix') }}"
    storage_cidr: "{{ loadbalancer.network.storage.vip | ipaddr('prefix') }}"
    storage_mgmt_cidr: "{{ loadbalancer.network.storage_mgmnt.vip | ipaddr('prefix') }}"
    tenant_cidr: "{{ loadbalancer.network.tenant.vip | ipaddr('prefix') }}"
    external:
{% for x in range(groups.controller|length) %}
    - {{ loadbalancer.network.external.net | ipaddr('net') | ipaddr(loadbalancer.controllers.pool_start + x) | ipaddr('address') }}
{% endfor %}
    internal_api:
{% for x in range(groups.controller|length) %}
    - {{ loadbalancer.network.internal_api.net | ipaddr('net') | ipaddr(loadbalancer.controllers.pool_start + x) | ipaddr('address') }}
{% endfor %}
    storage:
{% for x in range(groups.controller|length) %}
    - {{ loadbalancer.network.storage.net | ipaddr('net') | ipaddr(loadbalancer.controllers.pool_start + x) | ipaddr('address') }}
{% endfor %}
    storage_mgmt:
{% for x in range(groups.controller|length) %}
    - {{ loadbalancer.network.storage_mgmnt.net | ipaddr('net') | ipaddr(loadbalancer.controllers.pool_start + x) | ipaddr('address') }}
{% endfor %}
    tenant:
{% for x in range(groups.controller|length) %}
    - {{ loadbalancer.network.tenant.net | ipaddr('net') | ipaddr(loadbalancer.controllers.pool_start + x) | ipaddr('address') }}
{% endfor %}
