<network>
  <name>{{ item.value.name }}</name>
    {% if item.value.forward is defined %}
        <forward mode="{{ item.value.forward }}" />
    {% endif %}
    # with stp="on" on osp17/rhel9 (on 2022-03-10) the introspection fails due to libvirt port operations get stuck
    # it's not a bug, not a feature either... more info: https://bugzilla.redhat.com/show_bug.cgi?id=2061776
        <bridge name="{{ item.value.name }}" {% if item.value.forward|default('') != 'bridge' %} stp="{{ 'off' if hostvars['hypervisor']['ansible_facts']['virtualization_role'] != 'host' else 'on'}}" {% endif %}/>
    {% if provision.host.network.mtu.size %}
        <mtu size="{{ provision.host.network.mtu.size }}"/>
    {% endif %}
    {% if item.value.virtualport_type is defined %}
        <virtualport type="{{item.value.virtualport_type}}"/>
    {% endif %}
    {% for portgroup in item.value.portgroups|default([]) %}
        <portgroup name="{{ portgroup.name }}" {% if portgroup.default|bool %}default="yes"{% endif %}>
          <vlan trunk="{% if portgroup.trunk|default(false)|bool %}yes{% else %}no{% endif %}">
          {% if portgroup.vlans is defined %}
          {% for vlan in portgroup.vlans|default([]) %}
            <tag id="{{ vlan.id }}"/>
          {% endfor %}
          {% endif %}
          {% if portgroup.vlan_id is defined %}
            <tag id="{{ portgroup.vlan_id }}"/>
          {% endif %}
          </vlan>
        </portgroup>
    {% endfor %}
    {% if item.value.forward|default('') != 'bridge' %}
    {% if item.value.ip_address is defined %}
  <ip address="{{ item.value.ip_address }}" netmask="{{ item.value.netmask }}">
    {% if item.value.dhcp is defined %}
        <dhcp>
            <range start="{{ item.value.dhcp.range.start }}" end="{{ item.value.dhcp.range.end }}"/>
        </dhcp>
    {% endif %}
  </ip>
    {% endif %}
  {% if item.value.domain is defined %}
    <domain name='{{ item.value.domain }}' localOnly='yes'/>
  {% endif %}

  {% if item.value.dns is defined %}
    <dns>
    {% if item.value.dns.srvs is defined %}
      {% for srv in item.value.dns.srvs %}
      <srv service='{{ srv.name }}' protocol='{{ srv.protocol }}' domain='{{ srv.domain }}' port='{{ srv.port }}' target='{{ srv.target }}' />
      {% endfor %}
    {% endif %}
    </dns>
  {% endif %}

  {% if item.value.ipv6 is defined %}
  <ip family="ipv6" address="{{ item.value.ipv6.ip_address }}" prefix="{{ item.value.ipv6.prefix }}" >
  {% if item.value.ipv6.dhcp is defined %}
        <dhcp>
            <range start="{{ item.value.ipv6.dhcp.range.start }}" end="{{ item.value.ipv6.dhcp.range.end }}" />
        </dhcp>
  {% endif %}
  </ip>
  {% endif %}
  {% endif %} {# end of forward mode check #}
</network>
