<pool type='dir'>
  <name>{{ pool_name }}</name>
  <target>
    <path>{{ disk_pool }}</path>
    <permissions>
      <mode>0755</mode>
      <owner>0</owner>
      <group>0</group>
    </permissions>
  </target>
</pool>
