parameter_defaults:
{% for node_type, details in node_types.iteritems() %}
{% if groups[node_type]|default([])|length %}
    {{ details.heat_name }}SchedulerHints:
        'capabilities:node': '{{ details.ospd_name }}-%index%'
{% endif %}
{% endfor %}

    HostnameMap:
{% for node_type, details in node_types.iteritems() %}
{% for node in groups[node_type]|default([]) %}
        overcloud-{{ details.tripleo_hostname }}-{{ loop.index0 }}: {{ node }}
{% endfor %}
{% endfor %}

