{% macro eval(value) -%}
{{ value | replace('${ipv6_postfix}', ipv6_postfix) | replace('${ipv6_postfix_underscore}', ipv6_postfix_underscore) | replace('${deployment_dir}', deployment_folder_path ) | replace('${nics_subfolder}', nics_subfolder) }}
{%- endmacro %}
resource_registry:
{% set saved_roles = [] %}
{% for host_name in groups.overcloud_nodes %}
{% set node_name = host_name.rstrip('1234567890-').split('-')[-1] %}
{%- if node_name not in saved_roles -%}
{% set role = hostvars[ansible_play_hosts[0]].get(node_name + '_role') %}
{% for option, value in role.get("resource_registry", {}).items() %}
{% if not install.get('predictable', {}).ips|default(False) %}
    {{ option }}: {{ eval(value) }}
{% else %}
{% if 'SoftwareConfig' in option %}
    {{ option }}: {{ eval(value) }}
{% endif %}
{% for network in role.get("networks", {}) %}
    OS::TripleO::{{ role.name }}::Ports::{{ network_mapping[network].get('port-name', network + 'Port') }}: {{ install.heat.templates.basedir }}/{{ eval(network_mapping[network]['heat-template']) }}
{% endfor %}
{% endif %}
{% endfor %}
{% if saved_roles.append(node_name) %}{% endif %}
{%- endif -%}
{% endfor %}
