{# macros co caluclate nodes count for each role #}
{%- macro count(node_name) -%}
{% set counter = [] %}
{% for host_name in groups.overcloud_nodes %}
{% if node_name == host_name.rstrip('1234567890-').split('-')[-1] %}
{%- if counter.append(node_name) %}{% endif -%}
{% endif %}
{% endfor %}
{{ counter | length }}
{%- endmacro -%}

{# write count and flavor parameters #}
parameter_defaults:
{% set saved_roles = [] %}
{% for host_name in groups.overcloud_nodes %}
{% set node_name = host_name.rstrip('1234567890-').split('-')[-1] %}
{%- if node_name not in saved_roles -%}
{% set role = hostvars[ansible_play_hosts[0]].get(node_name + '_role') %}
   {{ role.name }}Count: {{ count(node_name) }}
   Overcloud{{ flavor_name_mapping.get(role.name, role.name) }}Flavor: {{ role.flavor | default(role_default_flavor) }}
{% if saved_roles.append(node_name) %}{% endif %}
{%- endif -%} {# end of if node_name not in saved_roles #}
{% endfor %}

