#!/bin/bash

openstack -vvvv overcloud deploy \
  --timeout {{ install.deployment.timeout | int | default(100) }} --ansible-forks 8 \
  --templates {{ install.heat.templates.basedir }} \
  --libvirt-type {{ install.libvirt.type }} \
{% if install.overcloud.ssh.user != '' %}
  --overcloud-ssh-user {{ install.overcloud.ssh.user }} \
{% endif %}
  --stack {{ install.overcloud.stack }} \
  -r {{ template_base }}/roles/roles_data.yaml \
  -e {{ template_base }}/roles/nodes.yaml \
  -e {{ template_base }}/roles/network-config.yaml \
