#!/bin/bash

timeout 100m openstack overcloud deploy --templates {{ install.heat.templates.basedir }} \
  -r {{ template_base }}/roles/roles_data.yaml \
  -e {{ template_base }}/roles/nodes.yaml \
  -e {{ template_base }}/roles/network-config.yaml \
