tar_files:
    '7':
        - "discovery-ramdisk.tar"
        - "deploy-ramdisk-ironic.tar"
        - "overcloud-full.tar"
    '8':
        - "ironic-python-agent.tar"
        - "overcloud-full.tar"
    # Any higher version defaults to 8

tar_images: "{{ installer.images.files | default(tar_files[installer.product.version|string]) | default(tar_files['8'])}}"
tmp_oc_repos_dir: /tmp/oc_repos/yum.repos.d
overcloud_image_file: overcloud-full.qcow2
