- name: check for any vbmc processes
  command: pgrep vbmc
  register: vbmc_proc
  failed_when: false
  changed_when: false

- block:
    - name: remove existing Virtual BMCs
      shell: |
          for node in `vbmc list | awk '/[0-9]{2}/ {print $2}'`
          do
              if [[ ${node} = *"{{ prefix|default('') }}"* ]]
              then
                  vbmc stop ${node}
                  vbmc delete ${node}
              fi
          done
      failed_when: false

    - name: check if we still have vbmc nodes
      shell: "vbmc list | awk '/[0-9]{2}/ {print $2}'|wc -l"
      register: vbmc_list

  when: vbmc_proc.rc == 0

- block:
    - name: Stop Virtual BMCs if managed by systemd
      become: true
      systemd:
        name: virtualbmc
        state: stopped
        enabled: no
      ignore_errors: true

    - name: kill vbmc processes if not managed by systemd
      command: killall vbmc
      when: vbmc_proc.rc == 0
      ignore_errors: true

    - name: Remove package if installed from rpm
      package:
          name: "{{ item }}"
          state: absent
      with_items:
          - python-virtualbmc
          - python2-virtualbmc
      changed_when: false
      failed_when: false

    # pip can be missing on a target host.
    # so ignore errors and cleanup as much as possible
    - name: Remove package if installed from pip
      pip:
          virtualenv: "{{ vbmc_virtualenv }}"
          name: virtualbmc
          state: absent
      changed_when: false
      failed_when: false

    - name: Remove vbmc virtualenv
      file:
          path: "{{ vbmc_virtualenv }}"
          state: absent

    - name: delete scripts and configuration files
      file:
          path: "{{ item }}"
          state: absent
      with_items:
          - /usr/lib/systemd/system/virtualbmc.service
      ignore_errors: true

  when: vbmc_list is defined and vbmc_list.stdout|int == 0
