- block:
    - name: Ease iptables rules on hypervisor
      iptables:
          action: insert
          comment: "Infrared: vbmc ports"
          table: filter
          chain: FORWARD
          jump: ACCEPT
          protocol: "udp"
          destination_port: "{{ item.value }}"
      with_dict: "{{ vbmc_ports }}"
      delegate_to: hypervisor

    - name: Ease iptables rules on vbmc host
      iptables:
          action: insert
          comment: "Infrared: vbmc ports"
          table: filter
          chain: INPUT
          jump: ACCEPT
          protocol: "udp"
          destination_port: "{{ item.value }}"
      with_dict: "{{ vbmc_ports }}"

    - name: Install iptables-services
      package:
          name: iptables-services
          state: latest

    - name: Make created iptables rules persistant
      shell: "/sbin/service iptables save"
  when: vbmc_host == 'undercloud'
  become: True

- block:
    - name: allow access to port vbmc ports from undercloud managment network
      vars:
          mgmt_net: "{{ hostvars[groups.undercloud|first][management_net].ipv4 }}"
      iptables:
          action: insert
          comment: "Infrared: vbmc ports"
          table: filter
          chain: INPUT
          jump: ACCEPT
          protocol: "udp"
          source: "{{ mgmt_net.network }}/{{ mgmt_net.netmask }}"
          destination_port: "{{ item.value }}"
      loop: "{{ vbmc_ports|dict2items }}"

    - name: allow access to port vbmc ports from hypervisor
      iptables:
          action: insert
          comment: "Infrared: vbmc ports"
          table: filter
          chain: INPUT
          jump: ACCEPT
          protocol: "udp"
          source: "{{ vbmc_management_address }}"
          destination_port: "{{ item.value }}"
      loop: "{{ vbmc_ports|dict2items }}"

  when: vbmc_host == 'hypervisor'
  become: True
