- block:
      - include_tasks: install.yml

      - include_tasks: configure.yml

      - name: Register vars for instackenv template
        set_fact:
            vbmc_ports: "{{ vbmc_ports }}"
            vbmc_management_address: "{{ vbmc_management_address }}"
  when: action == 'install'

- include_tasks: check.yml
  when: action == 'check'

- include_tasks: cleanup.yml
  when: action == 'cleanup'

- include_tasks: remove.yml
  when: action == 'remove'
