---
- block:
  - name: check for any vbmc processes
    command: ps -edfl
    register: all_procs
    failed_when: false
    changed_when: false

  - name: remove all existing Virtual BMCs
    shell: |
        for domain in $({{ vbmc_bin }} list -c "Domain name" -f value)
        do
          {{ vbmc_bin }} stop $domain
          {{ vbmc_bin }} delete $domain
        done
    failed_when: false
    when:
        - all_procs.rc == 0
        - "'vbmc' in all_procs.stdout"
  delegate_to: "{{  vbmc_inventory_host }}"
