- name: Controller
  count: {{ (install.controller|default({})).nodes|default(0) or groups.controller|default([])|length or '1' }}
  hostname_format: controller-%index%
  defaults:
    profile: control
    config_drive:
      cloud_config:
        # unique NFS ID
        bootcmd:
          - 'host_specific_id="$(hostname)-{{ deployment_unique_id }}"'
          - 'echo "options nfs nfs4_unique_id=${host_specific_id}" >/etc/modprobe.d/nfsv4_id.conf'
          - '[ -e /sys/module/nfs/parameters/nfs4_unique_id ] && echo -n ${host_specific_id} >/sys/module/nfs/parameters/nfs4_unique_id'
    network_config:
      default_route_network:
      - External
      template: /home/stack/virt/network/three-nics-vlans/controller{{ ('ipv6' in install.network.protocol) | ternary('-v6','') }}.j2
    networks:
    - network: ctlplane
      vif: true
    - network: storage
    - network: storage_mgmt
    - network: internal_api
    - network: tenant
    - network: external
{% if install.splitstack|default(False) %}
{% for host_name in groups.overcloud_nodes|sort %}
{% if "controller" in (host_name|lower) %}
  instances:
  - hostname: host_name
    managed: false
    networks:
      - network: ctlplane
        fixed_ip: {{ hostvars[host_name]['ansible_eth0']['ipv4']['address'] }}
      - network: storage
      - network: storage_mgmt
      - network: internal_api
      - network: tenant
      - network: external
{% endif %}
{% endfor %}
{% endif %}
{# Workaround the rhbz#2066367 for the case where OSP17 is run on top of RHEL9 #}
{% if install.version|default(undercloud_version)|openstack_release >= 17 and (install.storage|default({})).backend == 'lvm' %}
  ansible_playbooks:
    - playbook: /usr/share/ansible/tripleo-playbooks/cli-overcloud-node-growvols.yaml
      extra_vars:
        growvols_args: >
          /=8GB
          /tmp=1GB
          /var/log=3GB
          /var/log/audit=1GB
          /home=1GB
          /srv=10GB
          /var=100%
{% endif %}
- name: Compute
  count: {{ (install.compute|default({})).nodes|default(0) or groups.compute|default([])|length or (install.hybrid is defined)| ternary('1','0') }}
  hostname_format: compute-%index%
  defaults:
    profile: compute
    network_config:
{% if install.network.dvr|bool or install.network.force.compute.dvr|bool %}
      template: /home/stack/virt/network/three-nics-vlans/compute-dvr.j2
{% else %}
      template: /home/stack/virt/network/three-nics-vlans/compute.j2
{% endif %}
    networks:
    - network: ctlplane
      vif: true
    - network: storage
    - network: internal_api
    - network: tenant
{% if install.network.dvr|bool or install.network.force.compute.dvr|bool %}
    - network: external
{% endif %}
{% if install.splitstack|default(False) %}
{% for host_name in groups.compute|sort %}
  instances:
  - hostname: host_name
    managed: false
    networks:
      - network: ctlplane
        fixed_ip: {{ hostvars[host_name]['ansible_eth0']['ipv4']['address'] }}
      - network: storage
      - network: storage_mgmt
      - network: internal_api
      - network: tenant
      - network: external
{% endfor %}
{% endif %}
{% if not install.storage.external %}
{%- if install.storage.backend == 'ceph' %}
- name: CephStorage
  count: {{ (install.storage.nodes|default(0)) or (groups['ceph']|default([])|length) or 1 }}
  hostname_format: ceph-%index%
  defaults:
    profile: ceph-storage
    network_config:
      template: /home/stack/virt/network/three-nics-vlans/ceph-storage.j2
    networks:
    - network: ctlplane
      vif: true
    - network: storage
    - network: storage_mgmt
{% endif -%}
{% if install.splitstack|default(False) %}
{% for host_name in groups.ceph|sort %}
  instances:
  - hostname: host_name
    managed: false
    networks:
      - network: ctlplane
        fixed_ip: {{ hostvars[host_name]['ansible_eth0']['ipv4']['address'] }}
      - network: storage
      - network: storage_mgmt
      - network: internal_api
      - network: tenant
      - network: external
{% endfor %}
{% endif %}
{%- if install.storage.backend == 'swift' %}
- name: SwiftStorage
  count: {{ (install.storage.nodes|default(0)) or (groups['swift']|default([])|length) or 1 }}
  hostname_format: swift-%index%
  defaults:
    profile: swift-storage
    network_config:
      template: /home/stack/virt/network/templates/three-nics-vlans/swift-storage.j2
    networks:
    - network: ctlplane
      vif: true
    - network: storage
    - network: storage_mgmt
{% endif %}
{% endif %}
{% if install.splitstack|default(False) %}
{% for host_name in groups.swift|sort %}
  instances:
  - hostname: host_name
    managed: false
    networks:
      - network: ctlplane
        fixed_ip: {{ hostvars[host_name]['ansible_eth0']['ipv4']['address'] }}
      - network: storage
      - network: storage_mgmt
      - network: internal_api
      - network: tenant
      - network: external
{% endfor %}
{% endif %}
