# three-nics-vlans
# v2 config

resource_registry:
    OS::TripleO::Controller::Net::SoftwareConfig: OS::Heat::None
    OS::TripleO::Compute::Net::SoftwareConfig: OS::Heat::None
    OS::TripleO::BlockStorage::Net::SoftwareConfig: OS::Heat::None
    OS::TripleO::ObjectStorage::Net::SoftwareConfig: OS::Heat::None
    OS::TripleO::CephStorage::Net::SoftwareConfig: OS::Heat::None
parameter_defaults:
    ControllerNetworkConfigTemplate: '/home/stack/virt/network/{{ deployment_files_defaults.nic_configs_dir }}/controller.j2'
    ComputeNetworkConfigTemplate: '/home/stack/virt/network/{{ deployment_files_defaults.nic_configs_dir }}/compute.j2'
    BlockStorageNetworkConfigTemplate: '/home/stack/virt/network/{{ deployment_files_defaults.nic_configs_dir }}/cinder-storage.j2'
    # TODO: is the fact that below ObjectStorageNetworkConfigTemplate looking at network/templates/* instead of network/* correct?
    ObjectStorageNetworkConfigTemplate: '/home/stack/virt/network/templates/{{ deployment_files_defaults.nic_configs_dir }}/swift-storage.j2'
    CephStorageNetworkConfigTemplate: '/home/stack/virt/network/{{ deployment_files_defaults.nic_configs_dir }}/ceph-storage.j2'
{% if install.network.dvr %}
    NeutronExternalNetworkBridge: "br-ex"
{% else %}
    NeutronExternalNetworkBridge: ""
{% endif %}
{% if install.version|openstack_release > 14 and not install.network.dvr and not install.network.ovs %}
    ControllerParameters:
      NeutronBridgeMappings: "datacentre:br-ex,tenant:br-tenant"
    ComputeParameters:
      NeutronBridgeMappings: ""
{% else %}
    NeutronBridgeMappings: "datacentre:br-ex,tenant:br-tenant"
{% endif %}
    NeutronNetworkVLANRanges: "tenant:1000:2000"
