---
# This template configures each role to use Vlans on a single nic for
# each isolated network, but uses multiple nic's on each node:
#
# nic1 = pxe/management/ctlplane
# nic2 = VLAN trunk for network isolation
# nic3 = public/external access
#
# This template assumes use of network-isolation.yaml.
#
# FIXME: if/when we add functionality to heatclient to include heat
# environment files we should think about using it here to automatically
# include network-isolation.yaml.
resource_registry:
  OS::TripleO::BlockStorage::Net::SoftwareConfig: three-nics-vlans/{{ nics_subfolder }}/cinder-storage.yaml
  OS::TripleO::Compute::Net::SoftwareConfig: three-nics-vlans/{{ nics_subfolder }}/compute.yaml
  OS::TripleO::Controller::Net::SoftwareConfig: three-nics-vlans/{{ nics_subfolder }}/controller.yaml
  OS::TripleO::ObjectStorage::Net::SoftwareConfig: three-nics-vlans/{{ nics_subfolder }}/swift-storage.yaml
  OS::TripleO::CephStorage::Net::SoftwareConfig: three-nics-vlans/{{ nics_subfolder }}/ceph-storage.yaml

parameter_defaults:
{% if not install.network.render.templates|default(False) %}
    ExternalNetCidr: '10.0.0.0/24'
    ExternalAllocationPools: [{'start': '10.0.0.101', 'end': '10.0.0.149'}]
    ExternalInterfaceDefaultRoute: '10.0.0.1'
    ExternalNetworkVlanID: 10
    InternalApiNetCidr: '172.17.1.0/24'
    InternalApiAllocationPools: [{'start': '172.17.1.10', 'end': '172.17.1.149'}]
    InternalApiNetworkVlanID: 20
    StorageNetCidr: '172.17.3.0/24'
    StorageAllocationPools: [{'start': '172.17.3.10', 'end': '172.17.3.149'}]
    StorageNetworkVlanID: 30
    StorageMgmtNetCidr: '172.17.4.0/24'
    StorageMgmtAllocationPools: [{'start': '172.17.4.10', 'end': '172.17.4.149'}]
    StorageMgmtNetworkVlanID: 40
    TenantNetCidr: '172.17.2.0/24'
    TenantAllocationPools: [{'start': '172.17.2.10', 'end': '172.17.2.149'}]
    TenantNetworkVlanID: 50
{% endif %}
{% if install.tls.everywhere or install.overcloud.use.dns.names %}
    DnsSearchDomains: ['{{ install.freeipa.domain }}']
{% endif %}
    DnsServers: ['10.0.0.1']
    EC2MetadataIp: 192.168.24.1
{% if install.splitstack|default(False) %}
    ControlPlaneDefaultRoute: {{ ansible_host|default(ansible_ssh_host) }}
{% elif install.version|openstack_release < 16 %}
    ControlPlaneDefaultRoute: 192.168.24.1
{% endif %}
{% if install.version|openstack_release < 16 %}
    ControlPlaneSubnetCidr: "24"
{% endif %}
{% if install.network.dvr %}
    NeutronExternalNetworkBridge: "br-ex"
{% else %}
    NeutronExternalNetworkBridge: ""
{% endif %}
{% if install.version|openstack_release > 14 and not install.network.dvr and not install.network.ovs %}
    ControllerParameters:
      NeutronBridgeMappings: "datacentre:br-ex,tenant:br-isolated"
    ComputeParameters:
      NeutronBridgeMappings: ""
{% else %}
    NeutronBridgeMappings: "datacentre:br-ex,tenant:br-isolated"
{% endif %}
    NeutronNetworkVLANRanges: "tenant:1000:2000"
