# three-nics-vlans
# v2 config

resource_registry:
  OS::TripleO::Controller::Net::SoftwareConfig: OS::Heat::None
  OS::TripleO::Compute::Net::SoftwareConfig: OS::Heat::None
  OS::TripleO::BlockStorage::Net::SoftwareConfig: OS::Heat::None
  OS::TripleO::ObjectStorage::Net::SoftwareConfig: OS::Heat::None
  OS::TripleO::CephStorage::Net::SoftwareConfig: OS::Heat::None
parameter_defaults:
  ControllerNetworkConfigTemplate: '/home/stack/virt/network/three-nics-vlans/controller.j2'
  ComputeNetworkConfigTemplate: '/home/stack/virt/network/three-nics-vlans/compute.j2'
  BlockStorageNetworkConfigTemplate: '/home/stack/virt/network/three-nics-vlans/cinder-storage.j2'
  ObjectStorageNetworkConfigTemplate: '/home/stack/virt/network/templates/three-nics-vlans/swift-storage.j2'
  CephStorageNetworkConfigTemplate: '/home/stack/virt/network/three-nics-vlans/ceph-storage.j2'

