---
- block:
  - name: Install deltarpm
    become: yes
    package:
      name: 'deltarpm'
      state: present
    when:
        - ansible_distribution in ['CentOS', 'RedHat']
        - ansible_distribution_major_version < '8'

  - name: Install RHEL7 packages
    become: yes
    package:
      name:
        - 'net-tools'
        - "{{ freeipa_rhel7_epel_repo_url }}"
      state: present
    when:
        - ansible_distribution in ['CentOS', 'RedHat']
        - ansible_distribution_major_version == '7'

  - name: Install RHEL8 packages
    become: yes
    package:
      name:
        - 'net-tools'
        - 'iptables'
        - 'iptables-services'
      state: present
    when:
        - ansible_distribution in ['CentOS', 'RedHat']
        - ansible_distribution_major_version == '8'

  - name: Enable additional repository for RHEL7
    become: yes
    shell: yum-config-manager --enable {{ item }}
    loop: "{{ freeipa_rhel7_additional_repos }}"
    when:
        - ansible_distribution in ['CentOS', 'RedHat']
        - ansible_distribution_major_version == '7'

  - name: Enable additional dnf modules for RHEL8
    become: yes
    shell: dnf module enable {{ item }} -y
    loop: "{{ freeipa_rhel8_dnf_modules }}"
    when:
        - ansible_distribution in ['CentOS', 'RedHat']
        - ansible_distribution_major_version == '8'

  - name: Install Red Hat CA
    become: yes
    shell: |
        update-ca-trust enable
        curl https://password.corp.redhat.com/RH-IT-Root-CA.crt -o /etc/pki/ca-trust/source/anchors/2015-RH-IT-Root-CA.pem
        update-ca-trust extract

  - name: Update repos
    become: yes
    shell: yum clean all

  - name: Enable iptables service for RHEL8
    become: yes
    service:
        name: iptables
        enabled: yes
        state: restarted
    when:
        - ansible_distribution in ['CentOS', 'RedHat']
        - ansible_distribution_major_version == '8'

  - name: Download freeipa setup script
    get_url:
       url: "{{ freeipa_setup_script }}"
       dest: "{{ freeipa_working_dir }}/freeipa_setup.sh"
       mode: 775

  - name: Generate inventory file
    template:
        dest: "{{ freeipa_working_dir }}/freeipa-setup.env"
        src: freeipa-setup.env.j2
        force: yes

  - name: Add w/a for ipv6 link local
    lineinfile:
        path: "{{ freeipa_working_dir }}/freeipa_setup.sh"
        insertafter: '^# Set up FreeIPA'
        line: "sed -i '/^nameserver fe80:.*./d' /etc/resolv.conf"
        state: present

  - name: Execute freeipa script
    become: yes
    shell: "{{ freeipa_working_dir }}/freeipa_setup.sh"
    args:
        executable: /bin/bash
    register: freeipa_setup

  - name: Configure FreeIPA to publish Master CRL at start
    become: yes
    lineinfile:
        path: /etc/pki/pki-tomcat/ca/CS.cfg
        regexp: '^ca.crl.MasterCRL.publishOnStart=(.*)$'
        line: 'ca.crl.MasterCRL.publishOnStart=true'

  - name: Configure FreeIPA DNS for overcloud public_vip
    become: yes
    shell: |
        echo {{ freeipa_admin_password }}|kinit admin
        ipa dnsrecord-add {{ freeipa_cloud_domain }} overcloud --a-rec 10.0.0.101
        ipa dnszone-add ctlplane.{{ freeipa_cloud_domain }}
        ipa dnsrecord-add ctlplane.{{ freeipa_cloud_domain }} overcloud --a-rec 192.168.24.101
        ipa dnszone-add internalapi.{{ freeipa_cloud_domain }}
        ipa dnsrecord-add internalapi.{{ freeipa_cloud_domain }} overcloud --a-rec 172.17.1.101
        ipa dnszone-add storage.{{ freeipa_cloud_domain }}
        ipa dnsrecord-add storage.{{ freeipa_cloud_domain }} overcloud --a-rec 172.17.3.101
        ipa dnszone-add storagemgmt.{{ freeipa_cloud_domain }}
        ipa dnsrecord-add storagemgmt.{{ freeipa_cloud_domain }} overcloud --a-rec 172.17.4.101
    register: overcloud_dns_entries

  - name: Restart FreeIPA server
    become: yes
    service:
        name: ipa
        state: restarted

  - name: Update /etc/hosts with undercloud's details
    become: yes
    lineinfile:
        dest: "/etc/hosts"
        line: "{{ freeipa_undercloud_ipaddress }} {{ groups['undercloud'][0] }}.{{ freeipa_cloud_domain }} {{ groups['undercloud'][0] }}"
        state: present
  delegate_to: "{{ freeipa_node }}"
