---
- block:
  - name: disable novajoin for OSP17 and greater
    when: "install.version|openstack_release >= 17"
    block:
    - set_fact:
        freeipa_enable_novajoin: false

  - name: Include VIPs configuration vars
    include_vars:
      file: "vars/public-vips-{{ (freeipa_network_protocol == 'ipv4') | ternary('ipv4','ipv6') }}.yml"

  - name: Generate cloud-names.yml
    template:
        src: cloud-names.yaml.j2
        dest: "{{ freeipa_templates_basedir }}/cloud-names.yaml"

  - name: Generate public_vip.yml
    template:
        src: public_vip.yaml.j2
        dest: "{{ freeipa_templates_basedir }}/public_vip.yaml"

  - name: Get last row of overcloud deploy script
    command: "tail -n 1 {{ freeipa_overcloud_deploy_script }}"
    register: oc_deploy_script_last_line

  - name: Append the TLS Everywhere templates lines to the base overcloud deploy script
    lineinfile:
        dest: "{{ freeipa_overcloud_deploy_script }}"
        line: "-e {{ item }} \\"
        insertbefore: "{{ oc_deploy_script_last_line.stdout }}"
    with_items:
        - "{{ freeipa_heat_templates_basedir }}/environments/ssl/tls-everywhere-endpoints-dns.yaml"
        - "{{ freeipa_heat_templates_basedir }}/environments/ssl/enable-internal-tls.yaml"
        - "{{ freeipa_templates_basedir }}/cloud-names.yaml"
        - "{{ freeipa_templates_basedir }}/public_vip.yaml"

  - name: Get last row of overcloud deploy script
    command: "tail -n 1 {{ freeipa_overcloud_deploy_script }}"
    register: oc_deploy_script_last_line

  - name: Append template line when replacing public endpoint certs
    lineinfile:
        dest: "{{ freeipa_overcloud_deploy_script }}"
        line: "-e {{ freeipa_heat_templates_basedir }}/environments/services/haproxy-public-tls-certmonger.yaml \\"
        insertbefore: "{{ oc_deploy_script_last_line.stdout }}"
    when: freeipa_issue_public_endpoint_certs|default(true)

  - name: Append template line when NOT replacing public endpoint certs
    lineinfile:
        dest: "{{ freeipa_overcloud_deploy_script }}"
        line: "-e {{ freeipa_templates_basedir }}/enable-tls.yaml \\"
        insertbefore: "{{ oc_deploy_script_last_line.stdout }}"
    when: not freeipa_issue_public_endpoint_certs|default(true)

  - name: Append the TLS Everywhere ansible template line to the base overcloud deploy script
    lineinfile:
        dest: "{{ freeipa_overcloud_deploy_script }}"
        line: "-e {{ freeipa_templates_basedir }}/ipaservices-baremetal-ansible.yaml \\"
        insertbefore: "{{ oc_deploy_script_last_line.stdout }}"
    when: not (freeipa_enable_novajoin|bool)

  - name: Generate ipaservices-baremetal-ansible.yaml
    vars:
        dns_servers: "{{ (install.bgp|default(False)|bool) | ternary([freeipa_node_ipaddress, '10.19.42.41'], [freeipa_node_ipaddress]) | list }}"
    template:
        src: ipaservices-baremetal-ansible.yaml.j2
        dest: "{{ freeipa_templates_basedir }}/ipaservices-baremetal-ansible.yaml"
    when: not (freeipa_enable_novajoin|bool)
  delegate_to: "{{ freeipa_undercloud_node }}"
