---
- block:
  - name: Update /etc/hosts with freeipa's details
    become: yes
    lineinfile:
        dest: "/etc/hosts"
        line: "{{ freeipa_node_ipaddress }} {{ freeipa_node }}.{{ freeipa_cloud_domain }} {{ freeipa_node }}"
        state: present

  - name: Install RHEL7 packages
    become: yes
    package:
        name:  python-novajoin
        state: present
    when:
        - ansible_distribution in ['CentOS', 'RedHat']
        - ansible_distribution_major_version == '7'

  - name: Enable additional dnf module for RHEL8
    become: yes
    shell: dnf module enable pki-deps -y
    when:
        - ansible_distribution in ['CentOS', 'RedHat']
        - ansible_distribution_major_version == '8'

  - name: Install RHEL8 packages
    become: yes
    package:
      name:
        - 'patch'
        - 'python3-nss'
        - 'python3-novajoin'
      state: present
    when:
        - ansible_distribution in ['CentOS', 'RedHat']
        - ansible_distribution_major_version == '8'

  - name: Prepare novajoin to work
    become: yes
    shell: >
        /usr/libexec/novajoin-ipa-setup --principal admin --password {{ freeipa_admin_password }} --server {{ freeipa_node }}.{{ freeipa_domain }} --realm {{ freeipa_domain|upper }}
        --domain {{ freeipa_domain }} --hostname {{ groups['undercloud'][0] }}.{{ freeipa_cloud_domain }} --precreate
    register: novajoin

  # TODO: figure out where the actual override file is
  - name: Add domain to hieradata in case it does not match the freeIPA domain
    lineinfile:
        path: ~/hiera_override.yml
        line: "nova::metadata::novajoin::api::ipa_domain: {{ freeip_cloud_domain }}"
    when: freeip_cloud_domain != freeipa_domain

  - name: Edit undercloud.conf
    blockinfile:
        path: ~/undercloud.conf
        backup: yes
        insertbefore: '^\[ctlplane-subnet\]'
        marker: "# {mark} TLS EVERYWHERE SETTINGS -->"
        content: |
            enable_novajoin = True
            ipa_otp = {{ novajoin.stdout }}
            undercloud_hostname = {{ groups['undercloud'][0] }}.{{ freeipa_cloud_domain }}
            undercloud_nameservers = {{ freeipa_node_ipaddress }}
            overcloud_domain_name = {{ freeipa_cloud_domain }}
  delegate_to: "{{ freeipa_undercloud_node }}"
