---
- set_fact:
    path_venv: /tmp/venv_shade
    #NOTE(mpavlase): This path unfortunatelly can't be put in variable
    # into playbooks, because ansible_python_interpreter variable doesn't
    # accept Jinja template, only fixed string.

- name: Install python-virtualenv, gcc, python-devel for the pip tasks
  become: yes
  become_user: root
  yum:
      name: "{{ item }}"
      state: present
  with_items:
     - python-virtualenv
     - gcc
     - python-devel
     - libffi-devel

- pip:
    name: "{{ item.key }}"
    version: "{{ item.value }}"
    virtualenv: "{{ path_venv }}"
  with_dict:
    setuptools: "17.0"
    pytz: "2016.4"
    shade: "1.7.0"
    pip: "8.1"
