---
- name: Run horizon integration tests
  hosts: tester
  gather_facts: no
  become: yes
  become_user: "{{ installer.user.name }}"
  vars:
      xunit_file: horizon.xml
  tasks:
      - set_fact:
          grid_hub: 'http://127.0.0.1:4444/wd/hub'
        when: tester.horizon.selenium.grid is not defined or tester.horizon.selenium.grid == 'local'
      - set_fact:
          grid_hub: 'http://{{ private.tester.saucelab.user }}:{{ private.tester.saucelab.key }}@ondemand.saucelabs.com:80/wd/hub'
        when: tester.horizon.selenium.grid == 'sauce'
      - name: run integration tests
        environment:
          INTEGRATION_TESTS: 1
          GRID_HUB: "{{ grid_hub }}"
          BROWSER_NAME: "{{ lookup('env', 'BROWSER_NAME') }}"
          BROWSER_VERSION: "{{ lookup('env', 'BROWSER_VERSION') }}"
          BROWSER_PLATFORM: "{{ lookup('env', 'BROWSER_PLATFORM') }}"
        shell: |
            [ -d ~/{{ tester.component.venv_dir }} ] && source ~/{{ tester.component.venv_dir }}/bin/activate
             ~/{{ tester.component.venv_dir }}/bin/nosetests -v -s -a "{{ tester.component.horizon.tests_tag }}" --processes={{ tester.component.horizon.threads }} --process-timeout=3000 --with-xunitmp --xunitmp-file={{ xunit_file }} openstack_dashboard/test/integration_tests/tests/test_login.py chdir=~/{{ tester.component.dir }}
        ignore_errors: true
        async: 21600
        poll: 30
