[Unit]
Description=Selenium grid hub
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/java -Xms32m -jar {{ grid_path }}/{{ grid_filename }} -role hub -hubConfig {{ grid_path }}/{{ grid_hub_config }}

[Install]
WantedBy=multi-user.target

