[Unit]
Description=Selenium grid node
Requires=selenium-grid-hub.service {{ tester.component.horizon.xvfb.service_name }}
After=network-online.target selenium-grid-hub.service

[Service]
Type=simple
Restart=always
Environment=DISPLAY=:{{ tester.component.horizon.xvfb.display_num }}
ExecStart=/usr/bin/java -Xms32m -jar {{ grid_path }}/{{ grid_filename }} -Dwebdriver.chrome.driver={{ grid_path }}/chromedriver -role node -nodeConfig {{ grid_path }}/{{ grid_node_config }}

[Install]
WantedBy=multi-user.target

