---
# This template configures each role to use Vlans on a single nic for
# each isolated network, but uses multiple nic's on each node:
#
# nic1 = pxe/management/ctlplane
# nic2 = VLAN trunk for network isolation
# nic3 = public/external access
#
# This template assumes use of network-isolation.yaml.
#
# FIXME: if/when we add functionality to heatclient to include heat
# environment files we should think about using it here to automatically
# include network-isolation.yaml.
resource_registry:
  OS::TripleO::BlockStorage::Net::SoftwareConfig: five-nics-vlans/{{ nics_subfolder }}/cinder-storage.yaml
  OS::TripleO::Compute::Net::SoftwareConfig: five-nics-vlans/{{ nics_subfolder }}/compute.yaml
  OS::TripleO::Controller::Net::SoftwareConfig: five-nics-vlans/{{ nics_subfolder }}/controller-v6.yaml
  OS::TripleO::ObjectStorage::Net::SoftwareConfig: five-nics-vlans/{{ nics_subfolder }}/swift-storage.yaml
  OS::TripleO::CephStorage::Net::SoftwareConfig: five-nics-vlans/{{ nics_subfolder }}/ceph-storage.yaml

parameter_defaults:
    ExternalNetCidr: '2001:db8:ca2:4::/64'
    ExternalAllocationPools: [{'start': '2001:db8:ca2:4::100', 'end': '2001:db8:ca2:4:ffff:ffff:ffff:fffe'}]
    ExternalInterfaceDefaultRoute: 2001:db8:ca2:4::1
    ExternalNetworkVlanID: 10
    InternalApiNetCidr: 'fd00:fd00:fd00:2000::/64'
    InternalApiAllocationPools: [{'start': 'fd00:fd00:fd00:2000::10', 'end': 'fd00:fd00:fd00:2000:ffff:ffff:ffff:fffe'}]
    StorageNetCidr: 'fd00:fd00:fd00:3000::/64'
    StorageAllocationPools: [{'start': 'fd00:fd00:fd00:3000::10', 'end': 'fd00:fd00:fd00:3000:ffff:ffff:ffff:fffe'}]
    StorageMgmtNetCidr: 'fd00:fd00:fd00:4000::/64'
    StorageMgmtAllocationPools: [{'start': 'fd00:fd00:fd00:4000::10', 'end': 'fd00:fd00:fd00:4000:ffff:ffff:ffff:fffe'}]
    TenantNetCidr: '172.17.2.0/24'
    TenantAllocationPools: [{'start': '172.17.2.10', 'end': '172.17.2.200'}]
    TenantNetworkVlanID: 50
#    DnsServers: ["2620:52:0:13b8::fe"]
    DnsServers: ["192.168.24.254"]
    EC2MetadataIp: 192.168.24.1
{% if install.splitstack|default(False) %}
    ControlPlaneDefaultRoute: {{ ansible_host|default(ansible_ssh_host) }}
{% elif install.version|openstack_release < 16 %}
    ControlPlaneDefaultRoute: 192.168.24.1
{% endif %}
    NeutronExternalNetworkBridge: ""
    NeutronBridgeMappings: "datacentre:br-ex,tenant:br-tenant"
    NeutronNetworkVLANRanges: "tenant:1000:2000"
