#!/bin/bash

source ~/stackrc;
openstack overcloud deploy --debug \
--templates \
--libvirt-type {% if groups['virthost'] is defined %}qemu{% else %}kvm{% endif %} \
--ntp-server clock.redhat.com \
--neutron-network-type {{ installer.network.backend }} \
{% if installer.network.backend == "vlan" %}
--neutron-disable-tunneling \
--neutron-bridge-mappings datacentre:br-ex,tenant:br-isolated \
--neutron-network-vlan-ranges tenant:1000:2000 \
{% else %}
--neutron-tunnel-types {{ installer.network.backend }} \
{% endif %}
--control-scale {% if installer.controller.nodes %}{{ installer.controller.nodes }}{% else %}{{ groups['controller'] | length }}{% endif %} \
--control-flavor {% if groups['controller'] is defined %}controller-{{ 'controller' | to_uuid }} \{% else %}baremetal \
{% endif %}
--compute-scale {% if installer.compute.nodes %}{{ installer.compute.nodes }}{% else %}{{ groups['compute'] | length }}{% endif %} \
--compute-flavor {% if groups['compute'] is defined %}compute-{{ 'compute' | to_uuid }} \{% else %}baremetal \
{% endif %}
