#!/bin/bash

openstack overcloud deploy --debug \
--templates \
--libvirt-type kvm \
--ntp-server clock.redhat.com \
--neutron-network-type {{ installer.network.backend }} \
{% if installer.network.backend == "vlan" %}
--neutron-disable-tunneling \
--neutron-bridge-mappings datacentre:br-ex,tenant:br-isolated \
--neutron-network-vlan-ranges tenant:1000:2000 \
{% else %}
--neutron-tunnel-types {{ installer.network.backend }} \
{% endif %}
--control-scale {% if installer.controller is defined and installer.controller.nodes is defined and installer.controller.nodes %}{{ installer.controller.nodes }}{% elif groups['controller'] is defined %}{{ groups['controller'] | length }}{% else %}1{% endif %} \
--control-flavor {% if groups['controller'] is defined %}controller-{{ 'controller' | to_uuid }} \{% else %}baremetal \
{% endif %}
--compute-scale {% if installer.compute is defined and installer.compute.nodes is defined and installer.compute.nodes %}{{ installer.compute.nodes }}{% elif groups['compute'] is defined %}{{ groups['compute'] | length }}{% else %}1{% endif %} \
--compute-flavor {% if groups['compute'] is defined %}compute-{{ 'compute' | to_uuid }} \{% else %}baremetal \
{% endif %}
{% if installer.product.version|int >= 10 %}
--environment-file "/usr/share/openstack-tripleo-heat-templates/environments/services/sahara.yaml" \
{% endif %}
