#!/bin/bash

openstack overcloud deploy --debug \
--templates \
--libvirt-type kvm \
--ntp-server clock.redhat.com \
--neutron-network-type {{ installer.network.backend }} \
{% if installer.network.backend == "vlan" %}
--neutron-disable-tunneling \
--neutron-bridge-mappings datacentre:br-ex,tenant:br-isolated \
--neutron-network-vlan-ranges tenant:1000:2000 \
{% else %}
--neutron-tunnel-types {{ installer.network.backend }} \
{% endif %}
--control-scale {{ control_scale }} \
--control-flavor {% if groups['controller'] is defined %}controller-{{ 'controller' | to_uuid }} \{% else %}baremetal \
{% endif %}
--compute-scale {{ compute_scale }} \
--compute-flavor {% if groups['compute'] is defined %}compute-{{ 'compute' | to_uuid }} \{% else %}baremetal \
{% endif %}
{% if installer.product.version|int >= 10 %}
--environment-file "/usr/share/openstack-tripleo-heat-templates/environments/services/sahara.yaml" \
--environment-file "/usr/share/openstack-tripleo-heat-templates/environments/cinder-backup.yaml" \
{% if  installer.overcloud.lowres == 'yes' or ( installer.overcloud.lowres != 'no' and  control_scale > 2 and 'virthost' in groups ) %}
--environment-file "/usr/share/openstack-tripleo-heat-templates/environments/low-memory-usage.yaml" \
{% endif %}
{% endif %}
