---
- name: install dstat packages
  package:
      name:
        - dstat
      state: present

- name: deploy dstat.service
  template:
      src: dstat.service.j2
      dest: /etc/systemd/system/dstat.service
  register: dstat_service_file

- name: reload systemd to pickup dstat.service
  systemd:
    daemon-reload: yes
  when: dstat_service_file is changed

- name: ensure dstat.service is up
  service:
    name: dstat
    enabled: true
    state: restarted
