clouds:
  bmc:
    auth:
      auth_url: "{{ cloud_auth_info.auth_url }}"
      username: "{{ cloud_auth_info.username }}"
      project_id: "{{ cloud_auth_info.project_id }}"
      project_name: "{{ cloud_auth_info.project_name }}"
      user_domain_name: "{{ cloud_auth_info.user_domain_name }}"
      password: "{{ cloud_auth_info.password }}"
    region_name: "regionOne"
    interface: "public"
    identity_api_version: 3
