[Unit]
Description=openstack-bmc {{ node }} Service
Requires=config-bmc-ips.service
After=config-bmc-ips.service
[Service]
ExecStart=/usr/local/bin/openstackbmc --os-cloud bmc --instance {{ node }} --address {{ server_info.addresses[bmc_ipmi_network_name][0].addr }}
User=root
StandardOutput=kmsg+console
StandardError=inherit
[Install]
WantedBy=multi-user.target
