---
- name: check repos
  yum:
      list: openstack-tripleo-common
  register: tripleo_source
  failed_when: tripleo_source.results|selectattr('yumstate', 'equalto', 'installed')|list|length == 0

- name: get installed package and find it in the available
  set_fact:
      installed_package_data: "{{ item }}"
  with_items: "{{ tripleo_source.results|selectattr('yumstate', 'equalto', 'available')|list }}"
  when: (tripleo_source.results|selectattr('yumstate', 'equalto', 'installed')|list|first).version == item.version

- set_fact:
      undercloud_version: "{{ version_regex|int or beta }}"
      overcloud_version: "{{ version_regex|int or beta }}"
  vars:
      version_regex: "{{ installed_package_data.repo | regex_replace('^rhel-7-server-openstack-(beta|[.0-9]+)-rpms$', '\\1')}}"
      # TODO(yfried): change that when beta version changes
      beta: 13
  when: version_regex|int or version_regex == 'beta'

- set_fact:
      undercloud_version: "{{ version_regex|int }}"
      overcloud_version: "{{ version_regex|int }}"
  vars:
      version_regex: "{{ installed_package_data.repo | regex_replace('^rhelosp-([0-9]+\\.[0-9]+)(-director)?-puddle$', '\\1')}}"
  when:
      - undercloud_version is not defined
      - version_regex|int > 0

- set_fact:
      undercloud_version: "{{ version_regex|int }}"
      overcloud_version: "{{ version_regex|int }}"
  vars:
      version_regex: "{{ installed_package_data.repo | regex_replace('^rhelosp-([0-9]+\\.[0-9]+)-cdn$', '\\1')}}"
  when:
      - undercloud_version is not defined
      - version_regex|int > 0

- name: Read version from the custom repos
  set_fact:
      undercloud_version: "{{ version_regex|int }}"
      overcloud_version: "{{ version_regex|int }}"
  vars:
      version_regex: "{{ installed_package_data.repo | regex_replace('^rhosp-([0-9]+)', '\\1')}}"
  when:
      - undercloud_version is not defined
      - version_regex|int > 0

- name: get undercloud rdo version
  find:
      use_regex: yes
      patterns: '(?:rhos-release-rdotrunk|delorean|CentOS-OpenStack|rdo-release)-\w+\.repo$'
      paths:
          - '/etc/yum.repos.d/'
  register: rdotrunk_result
  when: undercloud_version is not defined

- set_fact:
      undercloud_version: "{{ rdotrunk_result.files[0]['path'] | basename | regex_replace('^(?:rhos-release-rdotrunk|delorean|CentOS-OpenStack|rdo-release)-(\\w+)\\.repo$', '\\1') }}"
      overcloud_version: "{{ rdotrunk_result.files[0]['path'] | basename | regex_replace('^(?:rhos-release-rdotrunk|delorean|CentOS-OpenStack|rdo-release)-(\\w+)\\.repo$', '\\1') }}"
  when:
      - undercloud_version is not defined
      - rdotrunk_result.matched > 0
