---
- name: list installed packages
  package:
      list: installed
  register: installed_pkgs

- name: list available packages
  package:
      list: available
  register: available_pkgs


- set_fact:
      detect_pkg: openstack-tripleo-common

- name: "Find installed {{ detect_pkg }} package"
  set_fact:
      detect_installed_otc: "{{ installed_pkgs.results | selectattr('name', 'equalto', detect_pkg) | list | first | default(None) }}"

- fail:
      msg: "Failed to find info about installed version of {{ detect_pkg }}"
  when: not detect_installed_otc

- name: "Find available {{ detect_pkg }} packages"
  set_fact:
      detect_available_otc: "{{ available_pkgs.results | selectattr('name', 'equalto', detect_pkg) | list }}"

- fail:
      msg: "Failed to find info about available versions of {{ detect_pkg }}"
  when: detect_available_otc|length == 0

- name: "Match installed and available {{ detect_pkg }} package"
  set_fact:
      installed_package_data: "{{ item }}"
  when: "{{ item.version == detect_installed_otc.version }}"
  with_items: "{{ detect_available_otc  }}"

- fail:
      msg: "Installed {{ detect_installed_otc.name }}-{{detect_installed_otc.version}} not found in available packages"
  when: installed_package_data is not defined


- set_fact:
      undercloud_version: "{{ version_regex|int or beta }}"
      overcloud_version: "{{ version_regex|int or beta }}"
  vars:
      version_regex: "{{ installed_package_data.repo | regex_replace('^rhel-7-server-openstack-(beta|[.0-9]+)-rpms$', '\\1')}}"
      # TODO(yfried): change that when beta version changes
      beta: 13
  when: version_regex|int or version_regex == 'beta'

- set_fact:
      undercloud_version: "{{ version_regex|int }}"
      overcloud_version: "{{ version_regex|int }}"
  vars:
      version_regex: "{{ installed_package_data.repo | regex_replace('^rhelosp-([0-9]+\\.[0-9]+)(-director)?-(puddle|trunk|cdn)$', '\\1')}}"
  when:
      - undercloud_version is not defined
      - version_regex|int > 0

- name: Read version from the custom repos
  set_fact:
      undercloud_version: "{{ version_regex|int }}"
      overcloud_version: "{{ version_regex|int }}"
  vars:
      version_regex: "{{ installed_package_data.repo | regex_replace('^rhosp-([0-9]+)', '\\1')}}"
  when:
      - undercloud_version is not defined
      - version_regex|int > 0

- name: get undercloud rdo version
  find:
      use_regex: yes
      patterns: '(?:rhos-release-rdotrunk|delorean|CentOS-OpenStack|rdo-release)-\w+\.repo$'
      paths:
          - '/etc/yum.repos.d/'
  register: rdotrunk_result
  when: undercloud_version is not defined

- set_fact:
      undercloud_version: "{{ rdotrunk_result.files[0]['path'] | basename | regex_replace('^(?:rhos-release-rdotrunk|delorean|CentOS-OpenStack|rdo-release)-(\\w+)\\.repo$', '\\1') }}"
      overcloud_version: "{{ rdotrunk_result.files[0]['path'] | basename | regex_replace('^(?:rhos-release-rdotrunk|delorean|CentOS-OpenStack|rdo-release)-(\\w+)\\.repo$', '\\1') }}"
  when:
      - undercloud_version is not defined
      - rdotrunk_result.matched > 0
