- name: fetch cdn creds from file
  include_vars:
      file: "{{ cdn_args_file }}"
      name: cdn_creds
  # file may contain passwords. Don't print its content to console
  no_log: yes

- name: Inform the operators if both rhsm_activation_key and rhsm_repos are given
  debug:
    msg: "username and activationkey are exclusive options when using Satellite"
  when:
    - cdn_creds.activationkey is defined
    - cdn_creds.username is defined

- name: Check if Satellite server
  uri:
    url: "https://{{ cdn_creds.server_hostname }}/katello/api/ping"
    validate_certs: no
    status_code: 200, 404
  register: _sat6_check
  when: cdn_creds.server_hostname is defined

- block:
    - name: Download katello-ca-consumer-latest.noarch.rpm
      get_url:
          url: "https://{{ cdn_creds.server_hostname }}/pub/katello-ca-consumer-latest.noarch.rpm"
          dest: "/tmp/katello-ca-consumer-latest.noarch.rpm"
          force: yes
          validate_certs: no

    - name: Install katello-ca-consumer-latest.noarch.rpm
      package:
          name: /tmp/katello-ca-consumer-latest.noarch.rpm
          state: present
          disable_gpg_check: true
      become: true

    - name: remove hosts from Satellite server
      uri:
          url: "https://{{ cdn_creds.server_hostname }}/api/v2/hosts/{{ item }}.{{ install.overcloud.domain }}"
          user: "{{ cdn_creds.username | default(omit) }}"
          password: "{{ cdn_creds.password | default(omit) }}"
          method: DELETE
          force_basic_auth: yes
          return_content: yes
          validate_certs: false
          status_code: [200,201,202]
          body_format: json
      with_items: "{{ groups.all | difference(['localhost']) | difference(['hypervisor']) | difference(('hypervisor' in groups) | ternary(groups.hypervisor, [])) }}"
      ignore_errors: yes
      when: install.satellite.clean.nodes | default(false)
  when: cdn_creds.server_hostname is defined and _sat6_check['status'] == 200

- name: Check RedHat account status
  command: subscription-manager status
  become: true
  register: cdn_account_status
  ignore_errors: true

- name: register machines to CDN
  redhat_subscription:
      activationkey: "{{ cdn_creds.activationkey | default(omit) }}"
      autosubscribe: "{{ cdn_creds.autosubscribe | default(omit) }}"
      consumer_id: "{{ cdn_creds.consumer_id | default(omit) }}"
      consumer_name: "{{ cdn_creds.consumer_name | default(omit) }}"
      consumer_type: "{{ cdn_creds.consumer_type | default(omit) }}"
      environment: "{{ cdn_creds.environment | default(omit) }}"
      force_register: "{{ cdn_creds.force_register | default(omit) }}"
      org_id: "{{ cdn_creds.org_id | default(omit) }}"
      password: "{{ cdn_creds.password | default(omit) }}"
      pool: "{{ cdn_creds.pool | default(omit) }}"
      pool_ids: "{{ cdn_creds.pool_ids | default(omit) }}"
      release: "{{ cdn_creds.release | default(omit) }}"
      rhsm_baseurl: "{{ cdn_creds.rhsm_baseurl | default(omit) }}"
      rhsm_repo_ca_cert: "{{ cdn_creds.rhsm_repo_ca_cert | default(omit) }}"
      server_hostname: "{{ cdn_creds.server_hostname | default(omit) }}"
      server_insecure: "{{ cdn_creds.server_insecure | default(omit) }}"
      server_proxy_hostname: "{{ cdn_creds.server_proxy_hostname | default(omit) }}"
      server_proxy_password: "{{ cdn_creds.server_proxy_password | default(omit) }}"
      server_proxy_port: "{{ cdn_creds.server_proxy_port | default(omit) }}"
      server_proxy_user: "{{ cdn_creds.server_proxy_user | default(omit) }}"
      state: "{{ cdn_creds.state | default(omit) }}"
      username: "{{ cdn_creds.username | default(omit) }}"
  become: true
  when: cdn_account_status.rc != 0
