DEVICE="{{odl.public_interface.dev}}.{{odl.public_interface.vlan}}"
BOOTPROTO="static"
ONBOOT="yes"
TYPE="Ethernet"
IPADDR="{{odl.public_interface.address}}"
PREFIX="{{odl.public_interface.prefix}}"
NM_CONTROLLED=no
VLAN=yes
