---
# This is a simple file. Do NOT use it as is.
tmp:
    anchors:
    - &rpmurl 'http://rdoproject.org/repos/openstack-liberty/rdo-release-liberty.rpm'
name: rdo
short_name: rdo
config:
    enable_epel: y
repo:
    puddle_pin_version: 'latest'
    poodle_pin_version: 'latest'
rpmrepo:
    CentOS: *rpmurl
    Fedora: *rpmurl
    RedHat: *rpmurl