---
# This is a simple file. Do NOT use it as is.
name: rhos
short_name: rh
images:
    import:
        files:
            discovery: "discovery-ramdisk.tar"
            deployment: "deploy-ramdisk-ironic.tar"
            overcloud: "overcloud-full.tar"
        url: http://images-base-url

build: latest
version:
    full_version: "7.0"
    major: 7
    minor: 0
    extra: ""
    code_name: kilo
