# choice from hypervisor or undercloud
vbmc_host: "{{ (install|default({})).get('vbmc', {}).get('host', 'hypervisor') }}"
vbmc_inventory_host: "{{ groups[vbmc_host]|first }}"
vbmc_hypervisor: "{{ groups.get('hypervisor', ['hypervisor'])|first }}"
vbmc_start_port: 6230
action: install
vbmc_user: "{{ (vbmc_host == 'undercloud') | ternary(ansible_user|default(ansible_ssh_user), 'root') }}"
vbmc_home: "{{ (vbmc_host == 'undercloud') | ternary('/home/' ~ ansible_user|default(ansible_ssh_user), '/root') }}"
vbmc_config_dir: "{{ (vbmc_host == 'undercloud') | ternary(ansible_user_dir, '/root') }}/.vbmc"
vbmc_virtualenv: "{{ vbmc_home }}/.virtualenvs/vbmc"
vbmc_version: '1.6.0'
vbmc_bin: "{{ vbmc_virtualenv }}/bin/vbmc"
vbmcd_bin: "{{ vbmc_virtualenv }}/bin/vbmcd"
vbmc_uninstall: false
