#!/bin/bash
{% for node_name, node_values in provisioner.topology.nodes.iteritems() %}
{% for num in range(1, node_values.amount + 1, 1) %}
virt-install --name {{ node_name }}{% if node_values.amount > 1 %}{{ num }}{% endif %} \
{% for disk_name, disk_values in node_values.disks.iteritems() %}
             --disk path={{ disk_values.path }}/{{ node_name }}{% if node_values.amount > 1 %}{{ num }}{% endif %}.{{ disk_name }}.qcow2,device=disk,bus=virtio,format=qcow2 \
{% endfor %}
{#{%  for net in provisioner.topology.network.keys() %}#}
{#    todo(yfried): make network order work#}
{#             --network network:{{ net }} \#}
{#{% endfor %}#}
{# Hard coding network names because undercloud needs "data" network to map
 to the NIC defined in ospd.yml::installer.undercloud.config.local_interface
    todo(yfried): remove hardcoded network names#}
            --network network: data \
            --network network: management \
            --network network: external \
             --virt-type kvm \
             --cpu host-model \
             --ram {{ node_values.memory }} \
             --vcpus {{ node_values.cpu }} \
             --os-variant {{ node_values.os.variant }} \
             --import \
             --noautoconsole \
             --vnc
{% endfor %}
{% endfor %}
