- name: download base image
  get_url:
      url: "{{ url }}"
      dest: "~/{{ base_image }}.original"
      validate_certs: "{{ url.startswith('https://url.corp.redhat.com/') | ternary(false, omit)}}"
      timeout: 30
  register: download_image_result
  until: download_image_result.msg.find("Request failed") == -1
  retries: 5
  delay: 5
  when: item.value.import_url is not defined or not item.value.import_url
  with_dict: "{{ node.value.disks }}"

- name: copy base image for adjusting
  copy:
      remote_src: True
      src: "~/{{ base_image }}.original"
      dest: "{{ base_image_path }}/{{ base_image }}"
  when: (item.value.import_url is not defined or not item.value.import_url)
  with_dict: "{{ node.value.disks }}"

- name: adjust base image for this run
  shell: |
      set -x
      virt-sysprep -a {{ base_image_path }}/{{ base_image }} \
          --operations dhcp-client-state,dhcp-server-state,net-hostname,net-hwaddr,udev-persistent-net

      virt-customize -a {{ base_image_path }}/{{ base_image }} \
          --run-command 'yum remove -y cloud-init*' \
          --root-password password:redhat \
          --mkdir /root/.ssh \
          --chmod 0700:/root/.ssh \
          --upload /root/.ssh/id_rsa.pub:/root/.ssh/authorized_keys \
          --run-command 'cp /etc/sysconfig/network-scripts/ifcfg-eth{0,1} && sed -i s/DEVICE=.*/DEVICE=eth1/g /etc/sysconfig/network-scripts/ifcfg-eth1' \
          --run-command 'cp /etc/sysconfig/network-scripts/ifcfg-eth{1,2} && sed -i s/DEVICE=.*/DEVICE=eth2/g /etc/sysconfig/network-scripts/ifcfg-eth2' \
          --selinux-relabel
  when: (item.value.import_url is not defined or not item.value.import_url)
  with_dict: "{{ node.value.disks }}"
