{
  "browser": {
    "webdriver": "{{ test.browser }}",
{% if test.ssl %}
    "homepage": "https://{{ ui_public_vip }}",
{% else %}
    "homepage": "http://{{ ui_home_page }}",
{% endif %}
    "marionette_binary": "{{ ansible_env.HOME }}/bin/wires"
    },
  "credentials": {
    "username": "admin",
    "password": "{{ ui_admin_password }}"
    },
  "connector": {
    "hostname": "{{ hostvars[groups.undercloud | first].ansible_ssh_host }}",
    "username": "stack",
    "password": "stack",
    "rcFile": "stackrc"
    },
  "environment": {
    "environment_files": "{{ (test.environment.url=='')|ternary(ospdui_environment_url, test.environment.url) }}",
    "plan_tgz": "{{ test.plan }}"
    },
  "logger": {
    "level": "warning"
    }
}
