---
- name: check if user provided network templates
  stat:
      path: "{{ template_base }}/network"
  register: network

# If user provided network templates, nothing to do here :)
- include: "network.yml"
  when: network.stat.exists
