---
- include_role:
    name: create_venv
  vars:
    venv_destination_path: "{{ shade_path_venv }}"
    venv_pip_packages:
      - openstacksdk
    venv_rebuild: yes

# default venv_shade crt bundle does not contain updated information on undercloud.
# Link towards the system ca-bundle is required to keep it sync.
- name: Find venv_shade cacert files
  find:
    paths: "{{ shade_path_venv }}"
    patterns: 'cacert.pem'
    recurse: yes
  register: output

- name: Install ca-bundle.crt on venv_shade
  file:
    src: "/etc/pki/tls/certs/ca-bundle.crt"
    dest: "{{ item.path }}"
    state: link
    force: yes
  become: true
  loop: "{{ output.files }}"
