clouds:
{% for key,cloud in cloud_auth.items() %}
  {{ cloud.cloudname }}:
    auth:
      username: {{ cloud.username }}
      password: {{ cloud.password }}
      auth_url: {{ cloud.auth_url }}
      tenant_name: {{ cloud.project_name }}
{% endfor %}