resource_registry:
    OS::TripleO::Compute::Net::SoftwareConfig: {{ template_base }}/network/nic-configs/{{ nics_subfolder }}/controller.yaml
    OS::TripleO::Compute::Ports::ExternalPort: {{ install.heat.templates.basedir }}/network/ports/external.yaml
