{#
    For more details see:
    http://docs.openstack.org/developer/tripleo-docs/advanced_deployment/node_placement.html
#}

{#
# TODO: This is workaround for downstream osp17 job, TripleO now defaults to
# libvirt's "modular daemons" but this required libvirt > 7.4, this is a
# temporary workaround to move back to monolithic modular libvirt daemon till
# we move RHOSP17 to RHEL9 which will provide  libvirt > 7.4.
# Details in https://bugzilla.redhat.com/show_bug.cgi?id=2021536
#}
{% if install.version|default(undercloud_version) | openstack_release == 17 and ansible_distribution_version is version('9', '<') %}
resource_registry:
  OS::TripleO::Services::NovaLibvirt: /usr/share/openstack-tripleo-heat-templates/deployment/deprecated/nova/nova-libvirt-container-puppet.yaml
{% endif %}


parameter_defaults:
{% if install.overcloud.domain != '' %}
    CloudDomain: {{  install.overcloud.domain }}
{% endif %}
{% if install.scheduler_hints|default(False) or (install.specific.node.ids and install.version|default(undercloud_version)|openstack_release >= 10) %}
{% for node_type, details in node_types.items() %}
{% if groups[node_type]|default([])|length %}
    {% if details.scheduler_heat_name is defined %}{{ details.scheduler_heat_name }}{% else %}{{ details.heat_name }}{% endif %}SchedulerHints:
        'capabilities:node': '{{ node_type }}-%index%'
{% endif %}
{% endfor %}
{% endif %}

{#
# override_hostname_format should be False with baremetal provisioning,
# where the workflow is a bit different and the code should rely
# on the default HostnameFormat
#}
{% if override_hostname_format|default(True) %}
{% for node_type, details in node_types.items() %}
    {{ details.heat_name }}HostnameFormat: '{{ node_type }}-%index%'
{% endfor %}
{% endif %}

{% if install.get("overcloud", {}).get("hostname", {}).get("HostnameMap", false) %}
    HostnameMap:
{% for old_name, new_name in install.overcloud.hostname.HostnameMap.items() %}
        {{ old_name }}: {{ new_name }}
{% endfor %}
{% endif %}
