{
  "nodes": [
{% for host_name in groups['overcloud_nodes'] %}
    {
      "name": "{{ host_name }}",
      "pm_addr": "{{ hostvars[host_name].ipmi_ip }}",
      "mac": ["{{ hostvars[host_name].ipmi_mac }}"],
      "pm_password": "password",
      "pm_type": "{% if install.version|default(undercloud_version)|openstack_release >= 14 %}ipmi{% else %}pxe_ipmitool{% endif %}",
      "arch": "x86_64",
      "pm_user": "admin"
      {% if install.boot.mode == 'uefi' %}
      , "capabilities":
        {
          "boot_mode":"uefi",
          "profile":"{{ uefi[host_data.name.split('-')[0]] }}",
          "boot_option":"local"
        }
      {% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
    ]
}
