{
  {% if install.version|default(undercloud_version) | openstack_release < 11  and not install.vbmc.force %}
  "ssh-user": "{{ ansible_user|default(ansible_ssh_user) }}",
  "ssh-key": "{{ undercloud_private_key }}",
  "power_manager": "nova.virt.baremetal.virtual_power_driver.VirtualPowerManager",
  "host-ip": "{{ hostvars['hypervisor'].ansible_management.ipv4.address }}",
  "arch": "x86_64",
  {% endif %}
  "nodes": [
{% for bm_host in (bm_nodes|default({}))['nodes']|default([]) %}
  {% if install.boot.mode == 'uefi' %}
      {{ bm_host | regex_replace('^{', '{"capabilities": {"boot_mode":"uefi", "boot_option":"local"},') | regex_replace("'",'"')}}{% if not loop.last %},{% endif %}
  {% else %}
    {{ bm_host | to_nice_json }}{% if not loop.last %},{% endif %}
  {% endif %}
{% endfor %}
{% for host_string in nodes_info.results|map(attribute='stdout')|list %}
    {% if loop.first and (bm_nodes|default({}))['nodes']|default([]) %},{% endif %}
{% set host_data = host_string|from_yaml %}
    {
      "name": "{{ host_data.name }}",
      {# The "macs" field is deprecated. See: https://review.opendev.org/c/openstack/tripleo-common/+/556490 #}
      {% if install.version|default(undercloud_version)|openstack_release >= 17
           or (install.instackenv|default({}) and install.instackenv.useports|default(False)) %}
      "ports": [{"address": "{{ host_data.mac }}", "local_link_connection": {"switch_id": "52:54:00:00:00:00", "port_id": "{{ loop.index }}"}}],
      {% else %}
      "mac": ["{{ host_data.mac }}"],
      {% endif %}
      "cpu": "{{ host_data.cpu }}",
      "memory": "{{ (host_data.memory_kibs|int / 1024)|round|int }}",
      "disk": "{{ (host_data.disk_bytes|int / 1073741824)|round|int }}",
      {% if install.version|default(undercloud_version)|openstack_release < 11 %}
        "disks": {{ host_data.disks }},
      {% endif %}
      "arch": "{{ host_data.arch }}",
      {% if install.version|default(undercloud_version) | openstack_release >= 11  or install.vbmc.force %}
        "pm_addr": "{{ vbmc_management_address }}",
        "pm_type": "{% if install.version|default(undercloud_version)|openstack_release >= 13 %}ipmi{% else %}pxe_ipmitool{% endif %}",
        "pm_user": "{{ install.vbmc.username }}",
        "pm_password": "{{ install.vbmc.password }}",
        "pm_port": "{{ vbmc_ports[host_data.name] }}"
      {% else %}
        "pm_addr": "{{ hostvars['hypervisor'].ansible_management.ipv4.address }}",
        "pm_type": "pxe_ssh",
        "pm_user": "{{ ansible_user|default(ansible_ssh_user) }}",
        "pm_password": "{{ undercloud_private_key }}"
      {% endif %}
      {% if install.boot.mode == 'uefi' %}
      , "capabilities":
        {
          "boot_mode":"uefi",
          {% if host_data.name.split('-')|length > 2 %}
            "profile":"{{ uefi[host_data.name.split('-')[1]]|default(host_data.name.split('-')[1]) }}"
          {% else %}
            "profile":"{{ uefi[host_data.name.split('-')[0]]|default(host_data.name.split('-')[0]) }}"
          {% endif %}
          "boot_option":"local"
        }
      {% elif install.version|default(undercloud_version)|openstack_release >= 17 %}
       , "capabilities":
        {
          {% if host_data.name.split('-')|length > 2 %}
            "profile":"{{ uefi[host_data.name.split('-')[1]]|default(host_data.name.split('-')[1]) }}"
          {% else %}
            "profile":"{{ uefi[host_data.name.split('-')[0]]|default(host_data.name.split('-')[0]) }}"
          {% endif %}
        }
      {% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
    ]
}
