parameter_defaults:
{% if install.version|default(undercloud_version)|openstack_release > 13 and install.tls.everywhere|default(False) %}
  ControllerExtraConfig:
     ironic::drivers::pxe::pxe_append_params: 'nofb nomodeset vga=normal ipa-insecure=1'
{% endif %}
{% if install.remove.br.baremetal|default(False) %}
  NeutronBridgeMappings: datacentre:br-ex
  NeutronFlatNetworks: datacentre
  IronicInspectorInterface: 'br-ex'
{% else %}
  NeutronBridgeMappings: datacentre:br-ex,baremetal:br-baremetal
  NeutronFlatNetworks: datacentre,baremetal
  IronicInspectorInterface: 'br-baremetal'
{% endif %}
  IronicCleaningNetwork: baremetal
  IronicCleaningDiskErase: metadata
  IronicIPXEEnabled: true
{% if install.version|default(undercloud_version)|openstack_release < 14 %}
  IronicEnabledDrivers:
      - pxe_ipmitool
      - fake
{% else %}
  IronicEnabledHardwareTypes:
      - ipmi
      - fake-hardware
  IronicEnabledBootInterfaces: [pxe, fake]
  IronicEnabledConsoleInterfaces: [ipmitool-socat, no-console, fake]
  IronicEnabledDeployInterfaces: [iscsi, direct, fake]
  IronicEnabledManagementInterfaces: [ipmitool, fake]
  IronicEnabledPowerInterfaces: [ipmitool, fake]
  IronicEnabledRaidInterfaces: [no-raid, fake]
  IronicEnabledVendorInterfaces: [ipmitool, fake, no-vendor]
{% if install.version|default(undercloud_version)|openstack_release > 14 %}
  IronicEnabledInspectInterfaces: [no-inspect, inspector, fake]
{% endif %}
{% endif %}
  NovaSchedulerDefaultFilters:
      - RetryFilter
      - AggregateInstanceExtraSpecsFilter
      - AvailabilityZoneFilter
      - ComputeFilter
      - ComputeCapabilitiesFilter
      - ImagePropertiesFilter
      - ServerGroupAffinityFilter
      - ServerGroupAntiAffinityFilter
  ControllerExtraConfig:
      ironic::drivers::ssh::libvirt_uri: 'qemu:///system'
{% if install.tls.everywhere|default(False) %}
      ironic::drivers::pxe::pxe_append_params: 'nofb nomodeset vga=normal ipa-insecure=1'
{% endif %}
{% if install.version|default(undercloud_version)|openstack_release and install.ironic_inspector %}
  IronicInspectorIpRange: '{{ ansible_br_ctlplane.ipv4.network.split('.')[0:3] | join('.') }}.210,{{ ansible_br_ctlplane.ipv4.network.split('.')[0:3] | join('.') }}.240'
  IPAImageURLs: '["http://{{ ansible_br_ctlplane['ipv4']['address'] }}:8088/agent.kernel", "http://{{ ansible_br_ctlplane['ipv4']['address'] }}:8088/agent.ramdisk"]'
{% endif %}
{% if install.version|default(undercloud_version) | openstack_release > 14 and install.image.download.source == 'http' %}
  IronicImageDownloadSource: http
{% endif %}
