- name: Storage
  name_lower: storage
  vip: true
  subnets:
    subnet01:
      ip_subnet: 172.17.3.0/24
      allocation_pools:
        - start: 172.17.3.10
	  end: 172.17.3.149
      vlan: 30
- name: StorageMgmt
  name_lower: storage_mgmt
  vip: true
  subnets:
    subnet01:
      ip_subnet: 172.17.4.0/24
      allocation_pools:
        - start: 172.17.4.10
	  end: 172.17.4.149
      vlan: 40
- name: InternalApi
  name_lower: internal_api
  vip: true
  subnets:
    subnet01:
      ip_subnet: 172.17.1.0/24
      allocation_pools:
        - start: 172.17.1.10
	  end: 172.17.1.149
      vlan: 20
- name: Tenant
  name_lower: tenant
  vip: false  # Tenant network does not use VIPs
  subnets:
    subnet01:
      ip_subnet: 172.17.2.0/24
      allocation_pools:
        - start: 172.17.2.10
	  end: 172.17.2.149
      vlan: 50
- name: External
  name_lower: external
  vip: true
  subnets:
    subnet01:
      ip_subnet: 10.0.0.0/24
      gateway_ip: 10.0.0.1
      allocation_pools:
        - start: 10.0.0.101
	  end: 10.0.0.149
      vlan: 10
- name: Management
  name_lower: management
  # Management network is enabled by default for backwards-compatibility, but
  # is not included in any roles by default. Add to role definitions to use.
  enabled: true
  vip: false  # Management network does not use VIPs
  subnets:
    subnet01:
      ip_subnet: 10.0.1.0/24
      gateway_ip: 10.0.1.1
      allocation_pools:
        - start: 10.0.1.4
	  end: 10.0.1.250
      vlan: 60
