- name: Storage
  vip: true
  vlan: 30
  name_lower: storage
  ip_subnet: 'fd00:fd00:fd00:3000::/64'
  allocation_pools: [{'start': 'fd00:fd00:fd00:3000::10', 'end': 'fd00:fd00:fd00:3000:aaaa:aaaa:ffff:fffe'}]
- name: StorageMgmt
  name_lower: storage_mgmt
  vip: true
  vlan: 40
  ip_subnet: 'fd00:fd00:fd00:4000::/64'
  allocation_pools: [{'start': 'fd00:fd00:fd00:4000::10', 'end': 'fd00:fd00:fd00:4000:aaaa:aaaa:ffff:fffe'}]
- name: InternalApi
  name_lower: internal_api
  vip: true
  vlan: 20
  ip_subnet: 'fd00:fd00:fd00:2000::/64'
  allocation_pools: [{'start': 'fd00:fd00:fd00:2000::10', 'end': 'fd00:fd00:fd00:2000:aaaa:aaaa:ffff:fffe'}]
- name: Tenant
  vip: false  # Tenant network does not use VIPs
  name_lower: tenant
  vlan: 50
  ip_subnet: '172.17.2.0/24'
  allocation_pools: [{'start': '172.17.2.10', 'end': '172.17.2.149'}]
- name: External
  vip: true
  name_lower: external
  vlan: 10
  ip_subnet: '2620:52:0:13b8::/64'
  allocation_pools: [{'start': '2620:52:0:13b8:5054:ff:fe3e:1', 'end': '2620:52:0:13b8:5054:ff:fe3e:aa'}]
  gateway_ip: '2620:52:0:13b8::fe'
