{% macro eval(value) -%}
{{ value | replace('${ipv6_postfix}', ipv6_postfix) | replace('${ipv6_postfix_underscore}', ipv6_postfix_underscore) }}
{%- endmacro %}

{%- macro tht_net_config(role_name) -%}
{%- for tht_map in tht_mapping if role_name is match(tht_map.regexp) -%}
OS::TripleO::{{ tht_map.role_name|default(role_name) }}::Net::SoftwareConfig: {{ template_base }}/network/nic-configs/{{ nics_subfolder }}/{{ tht_map.net_config_file }}
{%- endfor -%}
{%- endmacro -%}

{% if 'ovb' is not in template_base %}
{# include net-configs templates #}
resource_registry:
{% if  tht_roles|length > 1 %}
{% for role_name in tht_roles %}
    {{ tht_net_config(role_name) }}
{% endfor %}
{% else %}
    OS::TripleO::Controller::Net::SoftwareConfig: {{ template_base }}/network/nic-configs/{{ nics_subfolder }}/controller{{ ipv6_postfix }}.yaml
    OS::TripleO::Compute::Net::SoftwareConfig: {{ template_base }}/network/nic-configs/{{ nics_subfolder }}/compute.yaml
    OS::TripleO::Networker::Net::SoftwareConfig: {{ template_base }}/network/nic-configs/{{ nics_subfolder }}/networker.yaml
{% endif %}
{% endif %}

{% if install.get('predictable', {}).ips|default(False) %}
{% for role in roles_data_var %}
{% for network in role.get("networks", {}) %}
    OS::TripleO::{{ role.name }}::Ports::{{ network_mapping[network].get('port-name', network + 'Port') }}: {{ install.heat.templates.basedir }}/{{ eval(network_mapping[network]['heat-template']) }}
{% endfor %}
{% endfor %}
{% endif %}
