#!/bin/bash

set -x

# Refer RHOSINFRA-5121, workaround for supporting
# NTP server option  by checking the version string of
# tripleclient package.
# Fixme: Switch to install.version in the future.
ntp_args_requires="20230505010953"
tld_args_requires="20230416001030"

# determine tripleo_client RPM version; the below needs to support multiple variation of the NVR of this RPM, e.g.:
# python3-tripleoclient-16.5.1-17.1.20230927000827.f3599d0.el9ost.noarch
# python3-tripleoclient-16.5.1-17.1.20230927000828.el9ost.noarch
# python3-tripleoclient-16.5.1-1.20230505010955...

IFS='.' read -r -a tripleo_client_array <<< "$(rpm -qa python3-tripleoclient)"
tripleo_client_str=$(for f in ${tripleo_client_array[@]}; do if [[ "$f" =~ [0-9]{14} ]] ; then echo "$f"; fi ; done)


NTP_ARGS=""
TLD_ARGS=""

ARGS="-o /home/stack/templates/overcloud-ceph-deployed.yaml"
ARGS="${ARGS} --container-image-prepare {{ containers_home_dir }}/containers-prepare-parameter.yaml"
ARGS="${ARGS} --stack {{ install.overcloud.stack }}"
ARGS="${ARGS} --network-data {{ template_base }}/network/network_data_v2.yaml"

{% if install.ceph.initial.conf.file %}
ARGS="${ARGS} --config {{ ansible_user_dir }}/initial-ceph.conf"
{% endif %}

{% if install.ceph.osd.spec.file %}
ARGS="${ARGS} --osd-spec {{ ansible_user_dir }}/osd-spec.yml"
{% endif %}

{% if install.ceph.default.crush.hierarchy %}
ARGS="${ARGS} --crush-hierarchy {{ ansible_user_dir }}/crush_hierarchy.yml"
{% endif %}

{% if ceph_node_cnt|int < 3 %}
ARGS="${ARGS} --single-host-defaults"
{% endif %}

{% if install.ceph.cluster.name and install.ceph.cluster.name|length > 0 %}
ARGS="${ARGS} --cluster {{ install.ceph.cluster.name }}"
{% endif %}

{% if roles_data_file.stat.exists %}
ARGS="${ARGS} --roles-data {{ roles_data_file.stat.path }}"
{% endif %}

{% if install.ceph.deploy.skipntp | default(False) %}
ARGS="${ARGS} --skip-ntp"
{% endif %}

{% if install.ntp.pool|default(False) %}
NTP_ARGS="--ntp-server {{ install.ntp.pool }}"
{% elif install.ntp.server|default(False) %}
NTP_ARGS="--ntp-server {{ install.ntp.server }}"
{% endif %}

{% if install.tls.everywhere | default(False) %}
TLD_ARGS="--tld {{ install.freeipa.domain }}"
{% endif %}

if [ $tripleo_client_str -ge $ntp_args_requires ] ; then
    ARGS="${ARGS} ${NTP_ARGS}"
fi

if [ $tripleo_client_str -ge $tld_args_requires ] ; then
    ARGS="${ARGS} ${TLD_ARGS}"
fi

openstack overcloud ceph deploy ${ARGS} /home/stack/templates/overcloud-baremetal-deployed.yaml
