#!/bin/bash

timeout 100m openstack overcloud deploy \
--templates {{ install.heat.templates.basedir }} \
--libvirt-type kvm \
--ntp-server clock.redhat.com \
{% if install.version|default(undercloud_version)|openstack_release < 11 %}
--control-scale {{ (install.controller|default({})).nodes|default(0) or groups.controller|default([])|length or '1' }} \
--control-flavor {{ ('controller' in existing_flavors.stdout_lines) | ternary('controller', 'baremetal') }} \
--compute-scale {{ (install.compute|default({})).nodes|default(0) or groups.compute|default([])|length or '1' }} \
--compute-flavor {{ ('compute' in existing_flavors.stdout_lines) | ternary('compute', 'baremetal') }} \
{% endif %}
