#!/bin/bash

openstack -vvvv overcloud deploy \
--timeout {{ install.deployment.timeout | int | default(100) }} --ansible-forks 8 \
--templates {{ install.heat.templates.basedir }} \
{% if install.overcloud.tripleoclient.debug|default(False) %}
--debug \
{% endif %}
{% if install.overcloud.ssh.user != '' %}
--overcloud-ssh-user {{ install.overcloud.ssh.user }} \
{% endif %}
--stack {{ install.overcloud.stack }} \
--libvirt-type {{ install.libvirt.type }} \
--ntp-server {{ install.ntp.server }} \
{% if install.version|default(undercloud_version)|openstack_release < 11 %}
--control-scale {{ (install.controller|default({})).nodes|default(0) or groups.controller|default([])|length or '1' }} \
--control-flavor {{ ('controller' in existing_flavors.stdout_lines and not install.specific.node.ids) | ternary('controller', 'baremetal') }} \
--compute-scale {{ (install.compute|default({})).nodes|default(0) or groups.compute|default([])|length or '1' }} \
--compute-flavor {{ ('compute' in existing_flavors.stdout_lines and not install.specific.node.ids) | ternary('compute', 'baremetal') }} \
{% endif %}
{% if install.version|default(undercloud_version)|openstack_release >= 17 %}
--deployed-server \
-e /home/stack/templates/overcloud-vip-deployed.yaml \
-e /home/stack/templates/overcloud-networks-deployed.yaml \
-e /home/stack/templates/overcloud-baremetal-deployed.yaml \
{% if install.storage.backend|default('') == 'ceph' and not install.storage.external %}
-e /home/stack/templates/overcloud-ceph-deployed.yaml \
{% endif %}
{# rhbz#2020590 - network_data_v2.yaml has to be part of both, the "network provision" step also the OC deployment from now on  #}
--networks-file {{ template_base }}/network/network_data_v2.yaml \
{% endif %}
