#!/bin/bash

OVERCLOUD_RC='{{ overcloud_rc }}'
source ${OVERCLOUD_RC}

echo "Start VM instances"
for INSTANCE_NAME in $(openstack server list --all -c Name -f value | grep -v "^$"); do
    echo -e ".\c"; openstack server start ${INSTANCE_NAME}
done

for INSTANCE_NAME in $(openstack server list --all -c Name -f value | grep -v "^$"); do
    timeout_seconds=120
    elapsed_seconds=0
    while true; do
        INSTANCE_STATUS=$(openstack server show ${INSTANCE_NAME} -f json | jq -r '.status')
        case "${INSTANCE_STATUS}" in
            "ACTIVE")
                echo "${INSTANCE_NAME} reached 'ACTIVE' status"
                break
                ;;
            "ERROR")
                echo "${INSTANCE_NAME} failed"
                exit 1
        esac
        sleep 3
        elapsed_seconds=$(expr $elapsed_seconds + 3)
        if [ $elapsed_seconds -ge $timeout_seconds ]; then
            echo "FAILURE: Instance failed to boot within ${elapsed_seconds} seconds"
            openstack server show ${INSTANCE_NAME} -f json 2>&1
            exit 1
        fi
    done
done
