parameter_defaults:
  CollectdGnocchiServer: {{ opstools_ip_addess }}
  CollectdGnocchiUser: admin


  CollectdDefaultPlugins:
      - load
      - memory
      - processes
  LoggingServers:
    - host: {{ opstools_ip_addess }}
      port: 24224