parameter_defaults:
  CollectdServer: {{ opstools_ip_addess }}
  CollectdServerPort: 25826
  CollectdSecurityLevel: None

  CollectdDefaultPlugins:
      - load
      - memory
      - processes
  LoggingServers:
    - host: {{ opstools_ip_addess }}
      port: 24224