parameter_defaults:
  MonitoringRabbitHost: {{ opstools_ip_addess }}
  MonitoringRabbitUserName: sensu
  MonitoringRabbitPassword: sensu
  SensuClientCustomConfig:
    openstack:
      username: admin
      password: changeme
      project_name: admin
      auth_url: http://controller:5000/v2.0
      region_name: regionOne