parameter_defaults:
    CinderEnableIscsiBackend: false
    CinderEnableRbdBackend: true
    CinderEnableNfsBackend: false
    NovaEnableRbdBackend: true
    GlanceBackend: rbd
    CinderRbdPoolName: "volumes"
    NovaRbdPoolName: "vms"
    GlanceRbdPoolName: "images"
{% if 'ceph' in groups and ( 0 < groups['ceph'] | length < 3 ) %}
    CephPoolDefaultSize: 1
{% endif %}
    ExtraConfig:
      ceph::profile::params::osds:
{% for disk in ceph_facts.ansible_devices.keys()[1:] %}
       '/dev/{{ disk }}':
           journal: ''
{% endfor %}
