parameter_defaults:
    CinderEnableIscsiBackend: false
    CinderEnableRbdBackend: true
    CinderEnableNfsBackend: false
    NovaEnableRbdBackend: true
    GlanceBackend: rbd
    CinderRbdPoolName: "volumes"
    NovaRbdPoolName: "vms"
    GlanceRbdPoolName: "images"
{% if 0 < ( (install.storage.nodes|default(0)) or (groups['ceph']|default([])|length) or 1 ) < 3  %}
    CephPoolDefaultSize: {{ (install.storage.nodes|default(0)) or (groups['ceph']|default([])|length) or 1 }}
{% endif %}
{% if install.containers|default(false) %}
{# containers uses ceph-ansible #}
    CephAnsibleDisksConfig:
        devices:
{% for disk in storage_node_disks[1:] %}
            - '/dev/{{ disk }}'
{% endfor %}
{% else %}
    ExtraConfig:
      ceph::profile::params::osds:
{% for disk in storage_node_disks[1:] %}
       '/dev/{{ disk }}':
           journal: ''
{% endfor %}
{% endif %}
