parameter_defaults:
    CinderEnableIscsiBackend: false
    CinderEnableRbdBackend: true
    CinderEnableNfsBackend: false
    NovaEnableRbdBackend: true
    GlanceBackend: rbd
    CinderRbdPoolName: "volumes"
    NovaRbdPoolName: "vms"
    GlanceRbdPoolName: "images"
{% if install.containers|default(false) and install.version|default(undercloud_version)|openstack_release > 11 %}
{# containers uses ceph-ansible #}
    CephPoolDefaultPgNum: 32
    CephAnsibleDisksConfig:
        devices:
{% for disk in storage_node_disks[1:-1] %}
            - '/dev/{{ disk }}'
{% endfor %}
        dedicated_devices:
            - '/dev/{{ storage_node_disks[-1] }}'
        journal_size: 512
        osd_scenario: non-collocated
{% else %}
    ExtraConfig:
      ceph::profile::params::osd_pool_default_pg_num: 32
      ceph::profile::params::osd_pool_default_pgp_num: 32
      ceph::profile::params::osds:
{% for disk in storage_node_disks[1:-1] %}
       '/dev/{{ disk }}': {'/dev/{{ storage_node_disks[-1] }}'}
{% endfor %}
{% endif %}
