{# todo(obaranov) for 10 (composable roles) these resources are not required. #}
{# Also, in 10 config yaml is located under pupper/services/.  Investigate impact #}
{% if install.version|openstack_release < 10 %}
parameters:
    SwiftMinPartHours: '0'

resource_registry:
    OS::TripleO::ObjectStorage::SoftwareConfig:  /usr/share/openstack-tripleo-heat-templates/puppet/swift-storage.yaml
{% endif %}
