- name: register our hosts to instack
  tags: ironic
  shell: "source ~/stackrc; openstack baremetal import --json {{ instack_file }}"

- name: assign the kernel and ramdisk before introspection begins
  tags: ironic
  shell: "source ~/stackrc; openstack baremetal configure boot"

- name: start node introspection
  shell: "source ~/stackrc; openstack baremetal introspection bulk start"
  register: introspection_result
  failed_when: introspection_result.rc != 0
