[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=forking
# Clean any existing files in /tmp/.X11-unix environment
ExecStartPre=/bin/sh -c '/usr/bin/vncserver -kill :{{ vnc_display_number }} > /dev/null 2>&1 || :'
ExecStart=/usr/sbin/runuser -l {{ ansible_user }} -c "/usr/bin/vncserver :{{ vnc_display_number }}"
ExecStop=/bin/sh -c '/usr/bin/vncserver -kill :{{ vnc_display_number }} > /dev/null 2>&1 || :'

[Install]
WantedBy=multi-user.target
