---
- name: Add host to host list
  hosts: localhost
  gather_facts: no
  vars:
      hypervisor: "{{ provisioner.host }}"
  tasks:
      - name: add hosts to host list
        add_host:
            name: "{{ hypervisor.name }}"
            groups: "{{ hypervisor.groups| join(',') }}"
            node_label: "virthost"
            ansible_ssh_user: "{{ hypervisor.user }}"
            ansible_ssh_host: "{{ hypervisor.address }}"
            ansible_ssh_private_key_file: "{{ hypervisor.key }}"

- name: Setup the virthost
  hosts: virthost
  gather_facts: yes
  any_errors_fatal: true
  roles:
      - {role: provisioner/virsh}

- name: Create Non-Root User
  hosts: all:!localhost:!virthost
  gather_facts: no
  any_errors_fatal: true
  vars:
      # Password isn't exposed by by default
      non_root_pw: "{{ provisioner.topology.password | default('redhat') }}"
  tasks:
      - name: wait for hosts to be reachable
        wait_for:
            port: 22
            host: "{{ ansible_ssh_host }}"
            search_regex: OpenSSH
        delegate_to: virthost

      - name: create non root user
        user:
            name: "{{ provisioner.topology.username }}"
            state: present
            password: "{{ non_root_pw | password_hash('sha512') }}"

      - name: add user to sudoers
        lineinfile:
            dest: "/etc/sudoers"
            line: "{{ provisioner.topology.username }} ALL=(root) NOPASSWD:ALL"

      - name: Set up authorized_keys for non root user
        authorized_key:
            user: "{{ provisioner.topology.username }}"
            key: "{{ item }}"
        with_file:
            - "{{ inventory_dir }}/id_rsa.pub"

      - name: Update hosts user
        add_host:
            name: "{{ inventory_hostname }}"
            ansible_ssh_user: "{{ provisioner.topology.username }}"
            ansible_ssh_pass: "{{ non_root_pw | password_hash('sha512') }}"

- name: Including post provision tasks for virsh
  include: "post.yml"
  include: "{{ provisioner_post | default('post.yml')"
