DEVICE={{ installer.overcloud.loadbalancer.network.oc_interface }}.{{ installer.overcloud.network.template.content.parameter_defaults.StorageMgmtNetworkVlanID }}
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ installer.overcloud.loadbalancer.network.storage_mgmnt.vip | ipaddr('address') }}
NETMASK={{ installer.overcloud.loadbalancer.network.storage_mgmnt.vip | ipaddr('netmask') }}
USERCTL=no
VLAN=yes
NM_CONTROLLED=no
