---
- set_fact:
      isolation_file: "network-isolation{{ (installer.network.protocol == 'ipv6') | ternary('-v6','') }}.yaml"

- name: append the network environment template line to the base overcloud deploy script
  lineinfile:
      dest: "~/overcloud_deploy.sh"
      line: '-e {{ template_base }}/network/network-environment.yaml \'

- name: append the network isolation template line to the base overcloud deploy script
  lineinfile:
      dest: "~/overcloud_deploy.sh"
      line: '-e /usr/share/openstack-tripleo-heat-templates/environments/{{ isolation_file }} \'

- block:
    - name: get the IP address on the external network default route
      shell: "cat {{ template_base }}/network/network-environment.yaml | grep ExternalNetworkVlanID | awk -F':' '{print $2}' | sed 's/[^0-9.]//'"
      register: result

    - name: add the ip address to the device when vlan is used
      shell: "sudo ovs-vsctl add-port br-ctlplane vlan{{ result.stdout | replace(\"'\",'') }} tag={{ result.stdout | replace(\"'\",'') }} -- set interface vlan{{ result.stdout | replace(\"'\",'') }} type=internal;"
      register: vlan_result
      failed_when: "vlan_result.stderr != '' and 'RTNETLINK answers: File exists' not in vlan_result.stderr"

    - name: get the IP address on the external network default route
      shell: "cat {{ template_base }}/network/network-environment.yaml | grep ExternalNetCidr | awk -F':' '{print $2}' | awk -F'/' '{print $1}' | sed 's/[^0-9.]//' | tr -d \"'\""
      register: result

    - name: add the ip address to the device when vlan is used
      shell: "sudo ip addr add {{ result.stdout | replace(\"'\",'') }}/{{ (installer.network.protocol == 'ipv6') | ternary('64','24') }} dev {{ ansible_interfaces | first }}"
      register: vlan_result
      failed_when: "vlan_result.stderr != '' and 'RTNETLINK answers: File exists' not in vlan_result.stderr"
  when: installer.network.backend == 'vlan'