work_dir: '/home/stack'
pip_virtualenv_python: python2.7
build_components: []

os_release_mapping:
    14: 'rocky'
    13: 'queens'
    12: 'pike'
    11: 'ocata'

git:
  - name: dlrn
    repo: https://github.com/openstack-packages/delorean.git
    dest: delorean
  - name: rdoinfo
    repo: https://github.com/redhat-openstack/rdoinfo.git
    dest: delorean/rdoinfo

extra_delorean:
  - name: "delorean-latest"
    description: "delorean-latest"
    baseurl: "https://trunk.rdoproject.org/centos7-master/deps/latest/"
    enabled: "1"
    gpgcheck: "0"
    includepkgs: "python2*"
    keepcache: "0"

setup:
    dependencies:
        defaults:
          - git
          - gcc
          - createrepo
          - mock
          - rpm-build
          - rpmdevtools
          - redhat-rpm-config
          - yum-utils
          - yum-plugin-priorities
          - python-devel
          - python-pip
          - puppet
          - jq
          - screen
          - python-virtualenv
