[baremetal]
catalog_type = baremetal
driver_enabled = true
driver = {{ driver_type }}
endpoint_type = publicURL
deploywait_timeout = 600
active_timeout = 600
unprovision_timeout = 600

[compute]
flavor_ref={{ flavor_id.stdout }}
