hypervisor ansible_ssh_private_key_file={{ inventory_dir }}/id_rsa ansible_ssh_user=root ansible_host={{ provision.host.address[0] }} ansible_ssh_common_args='-o GSSAPIAuthentication=no'

{% for vm in vms %}
{{ vm }} ansible_ssh_private_key_file={{ inventory_dir }}/id_rsa ansible_host={{ networks.get('outofband').get('net')[:-2] }}.{{ vms.get(vm).ip }} ansible_connection=ssh ansible_user=root ansible_ssh_common_args='{{ ssh_common_proxy_args }}'
{% endfor %}

[spines]
spine-1
spine-2

[leafs]
leaf-1-1
leaf-1-2
leaf-2-1
leaf-2-2
leaf-3-1
leaf-3-2
leaf-4-1
leaf-4-2

[left_leafs]
leaf-1-1
leaf-2-1
leaf-3-1
leaf-4-1

[right_leafs]
leaf-1-2
leaf-2-2
leaf-3-2
leaf-4-2

[overcloud]
ctrl-1-0
cmp-1-0
cmp-1-1
ctrl-2-0
cmp-2-0
cmp-2-1
ctrl-3-0
cmp-3-0
cmp-3-1

[controllers]
ctrl-1-0
ctrl-2-0
ctrl-3-0

[computes]
cmp-1-0
cmp-1-1
cmp-2-0
cmp-2-1
cmp-3-0
cmp-3-1

[cephs]
ceph-4-0
ceph-4-1
ceph-4-2
