resource_registry:
    OS::TripleO::Compute::Net::SoftwareConfig: {{ controller_abspath }}
    OS::TripleO::Compute::Ports::ExternalPort: /usr/share/openstack-tripleo-heat-templates/network/ports/external.yaml
