#!/bin/bash

source ~/stackrc;
openstack overcloud deploy --debug \
                       --templates \
                       --libvirt-type qemu \
                       --ntp-server clock.redhat.com \
                       --neutron-network-type {{ installer.network.backend }} \
{% if installer.network.backend == "vlan" %}
                       --neutron-disable-tunneling \
                       --neutron-bridge-mappings {{ installer.undercloud.config.physical_network }}:br-ex,tenant:br-isolated \
                       --neutron-network-vlan-ranges tenant:1000:2000 \
{% else %}
                       --neutron-tunnel-types {{ installer.network.backend }} \
{% endif %}
{% if groups['controller'] is defined %}
                       --control-scale {{ groups['controller']| length }} \
{% for flavor in tagged_flavors %}
{% if flavor.cmd is defined and 'controller' in flavor.cmd %}
                       --control-flavor {{ flavor.cmd.split() | last }} \
{% endif %}
{% endfor %}
{% endif %}
{% if groups['compute'] is defined %}
                       --compute-scale {{ groups['compute']| length }} \
{% for flavor in tagged_flavors %}
{% if flavor.cmd is defined and 'compute' in flavor.cmd %}
                       --compute-flavor {{ flavor.cmd.split() | last }} \
{% endif %}
{% endfor %}
{% endif %}
