#!/bin/bash

openstack overcloud deploy --debug \
--templates \
--libvirt-type kvm \
--ntp-server clock.redhat.com \
--control-scale {% if installer.controller is defined and installer.controller.nodes is defined and installer.controller.nodes %}{{ installer.controller.nodes }}{% elif groups['controller'] is defined %}{{ groups['controller'] | length }}{% else %}1{% endif %} \
--control-flavor {% if groups['controller'] is defined %}controller \{% else %}baremetal \
{% endif %}
--compute-scale {% if installer.compute is defined and installer.compute.nodes is defined and installer.compute.nodes %}{{ installer.compute.nodes }}{% elif groups['compute'] is defined %}{{ groups['compute'] | length }}{% else %}1{% endif %} \
--compute-flavor {% if groups['compute'] is defined %}compute \{% else %}baremetal \
{% endif %}
