{% for host in groups['all'] %}
{% if hostvars[host].get('ansible_connection', '') == 'local' %}
{{ host }} ansible_connection=local ansible_python_interpreter=python
{%- else %}

{{ host }} ansible_ssh_host={{ hostvars[host]['ansible_ssh_host'] }} ansible_ssh_user={{ hostvars[host]['ansible_ssh_user'] }}
{%- if hostvars[host]['ansible_ssh_private_key_file'] is defined %} ansible_ssh_private_key_file={{ hostvars[host]['ansible_ssh_private_key_file'] }}
{%- else %} ansible_ssh_pass={{ hostvars[host]['ansible_ssh_pass'] }}
{% endif %}
{%- if 'virthost' in groups %} ansible_ssh_common_args='-o ForwardAgent=yes -o ServerAliveInterval=30 -o ControlMaster=auto -o ControlPersist=30m -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ProxyCommand="ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p -i {{ hostvars['virthost'].ansible_ssh_private_key_file }} {{ hostvars['virthost']['ansible_ssh_user'] }}@{{ hostvars['virthost']['ansible_ssh_host'] }}"'
{% endif %}
{% endif %}
{% endfor %}

{% for group in groups %}
{% if group not in ['ungrouped', 'all'] %}

[{{ group }}]
{% for host in groups[group] %}
{{ host }}
{% endfor %}
{% endif %}
{% endfor %}
