[rhelosp-17.1-rhel-8.4]
name=RHOS-17.1-RHEL-8.4
baseurl={{ osp17_1rhel8_compose_url.stdout }}/compose/OpenStack/$basearch/os
gpgcheck=0

# disabled by default to not to accidentally confuse el8 rhosp-director-images with the default ones for 17.1-RHEL9.1/2
# this repo to be used only by explicit call of dnf with '--enablerepo=rhelosp-17.1-rhel-8.4'
enabled=0
includepkgs=rhosp-director-images*
