Host *
{% if install.splitstack|default(False) %}
  User {{ install.user.name }}
{% elif ( install.version == '17' or install.version == '17.0' or install.version|openstack_release < 17 ) and install.version != 'wallaby' %}
  User heat-admin
{% else %}
  User tripleo-admin
{% endif %}
  StrictHostkeyChecking no
  UserKnownHostsFile /dev/null
