[DEFAULT]
# Network interface on the Undercloud that will be handling the PXE
# boots and DHCP for Overcloud instances. (string value)
{% if 'bmc' in groups %}
local_interface = eth1
local_mtu = {{ ovb_mtu_value|default('1350') }}
{% else %}
local_interface = eth0
{% endif %}
{% if install.splitstack|default(False) %}
local_ip = {{ ansible_host|default(ansible_ssh_host) }}/24
{% else %}
local_ip = 192.168.24.1/24
{% endif %}
undercloud_public_host = 192.168.24.2
undercloud_admin_host = 192.168.24.3
{% if undercloud_nameservers is defined and not install.tls.everywhere|default(False) %}
undercloud_nameservers = {{ undercloud_nameservers }}
{% endif %}
{% if not (install.ntp.pool|default(False) %}
undercloud_ntp_servers={{ install.ntp.server }}
{% endif %}
{% if install.overcloud.domain != '' %}
overcloud_domain_name={{ install.overcloud.domain }}
{% endif %}
{% if install.version|default(undercloud_version)|openstack_distribution == 'OSP' %}
container_images_file={{ working_dir }}/containers-prepare-parameter.yaml
{% endif %}
{% if install.cdn is not defined %}
container_insecure_registries={{ insecure_registry_hosts|unique|join(',') }}
{% endif %}
{% if install.selinux|default('enforcing') != 'enforcing' %}undercloud_enable_selinux=false{% endif %}

[ctlplane-subnet]
local_subnet = ctlplane-subnet
cidr = 192.168.24.0/24
dhcp_start = 192.168.24.5
dhcp_end = 192.168.24.55
gateway = 192.168.24.1
inspection_iprange = 192.168.24.100,192.168.24.120
masquerade = true
#TODO(skatlapa): add param to override masq
{% endif %}

{% if install.boot.mode == 'uefi' %}
ipxe_enabled = True
inspection_enable_uefi = True
{% endif %}
