FROM {{ customize_cinder_pure_registry }}/{{ customize_cinder_pure_namespace }}/{{ customize_cinder_pure_name_prefix }}-cinder-volume{{ customize_cinder_pure_name_suffix }}:{{ customize_cinder_pure_tag }}

LABEL name="{{ customize_cinder_pure_namespace }}/{{ customize_cinder_pure_name_prefix }}-cinder-volume-pure" \
      summary="Red Hat OpenStack Platform {{ install.version|default(undercloud_version)|openstack_release }} cinder-volume Pure Storage" \
      description="Cinder plugin for Pure Storage"

USER root

RUN python3 -m ensurepip --upgrade && \
    pip3 install purestorage && \
    pip3 uninstall -y pip

USER cinder
