DEVICE={{ provisioner.topology.nodes.loadbalancer.network.oc_interface }}.301
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ provisioner.topology.nodes.loadbalancer.network.storage.vip | ipaddr('address') }}
NETMASK={{ provisioner.topology.nodes.loadbalancer.network.storage.vip | ipaddr('netmask') }}
USERCTL=no
VLAN=yes
NM_CONTROLLED=no