DEVICE={{ provisioner.topology.nodes.loadbalancer.network.oc_interface }}.101
BOOTPROTO=static
ONBOOT=yes
IPADDR1={{ provisioner.topology.nodes.loadbalancer.network.internal_api.vip | ipaddr('address') }}
IPADDR2={{ provisioner.topology.nodes.loadbalancer.network.redis.vip | ipaddr('address') }}
PREFIX1={{ provisioner.topology.nodes.loadbalancer.network.internal_api.vip | ipaddr('prefix') }}
PREFIX2={{ provisioner.topology.nodes.loadbalancer.network.redis.vip | ipaddr('prefix') }}
USERCTL=no
VLAN=yes
NM_CONTROLLED=no