DEVICE={{ provisioner.topology.nodes.loadbalancer.network.ex_interface }}
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ provisioner.topology.nodes.loadbalancer.network.external.vip | ipaddr('address') }}
NETMASK={{ provisioner.topology.nodes.loadbalancer.network.external.vip | ipaddr('netmask') }}
USERCTL=no
NM_CONTROLLED=no