tar_files:
    '7':
        - "discovery-ramdisk.tar"
        - "deploy-ramdisk-ironic.tar"
        - "overcloud-full.tar"
    '8':
        - "ironic-python-agent.tar"
        - "overcloud-full.tar"

tar_images: "{{ installer.images.files | default(tar_files[installer.product.version]) }}"
