DEVICE={{ installer.overcloud.loadbalancer.network.undercloud.oc_interface }}.{{ installer.overcloud.network.template.content.parameter_defaults.InternalApiNetworkVlanID }}
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ installer.overcloud.loadbalancer.network.undercloud.internal_ip | ipaddr('address') }}
PREFIX={{ installer.overcloud.loadbalancer.network.undercloud.internal_ip  | ipaddr('prefix') }}
VLAN=yes
NM_CONTROLLED=no