DEVICE={{ installer.loadbalancer.network.undercloud.oc_interface }}.{{ installer.loadbalancer.network.internal_api.vlanid }}
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ installer.loadbalancer.network.undercloud.internal_ip | ipaddr('address') }}
PREFIX={{ installer.loadbalancer.network.undercloud.internal_ip  | ipaddr('prefix') }}
VLAN=yes
NM_CONTROLLED=no
