---
- name: Add host to host list
  hosts: localhost
  gather_facts: no
  vars:
      hypervisor: "{{ provisioner.host }}"
  tasks:
      - name: add hosts to host list
        add_host:
            name: "{{ hypervisor.name }}"
            groups: "{{ hypervisor.groups| join(',') }}"
            node_label: "virthost"
            ansible_ssh_user: "{{ hypervisor.user }}"
            ansible_ssh_host: "{{ hypervisor.address }}"
            ansible_ssh_private_key_file: "{{ hypervisor.key }}"

- name: Remove all VMs and networks that were created
  hosts: virthost
  gather_facts: no
  vars:
      ignore_virsh_nodes: []
      # ignore virsh's default network
      ignore_virsh_nets:
          - default
  tasks:
      - name: start libvirtd
        service:
            name: libvirtd
            state: started
            enabled: yes
        ignore_errors: true
        register: libvirtd_available

      # Don't cleanup if the libvirtd process is unavailable
      - include: "{{ inventory_dir }}/playbooks/provisioner/virsh/cleanup.yml"
        when: libvirtd_available | success
