[Unit]
Description=dstat

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStartPre=mkdir -p /var/log/extra
# based on devstack/tools/dstat.sh
ExecStart=/bin/bash -c '/usr/bin/dstat -tcmndrylpg --nocolor --top-cpu-adv --top-io --top-mem --swap --tcp --output /var/log/dstat.csv &>> /var/log/extra/dstat.log'

[Install]
WantedBy=multi-user.target
