---
- name: Prepare the overcloud configuration
  hosts: undercloud
  gather_facts: yes
  any_errors_fatal: true
  pre_tasks:
      # todo (obaranov) support user custom deploy script as in the regual deployment
      - name: Copy our deployment folder
        copy:
            src: "{{ installer.deployment.files.rstrip('/') }}"
            dest: "{{ template_base | dirname }}/"
            directory_mode: u=rwX,g=rX,o=rX
            owner: "{{ installer.user.name }}"
            group: "{{ installer.user.name }}"

      - name: Inject debug.yaml so it will be auto discovered with user templates
        copy:
            src: files/debug.yaml
            dest: "{{ template_base }}"
        when: installer.overcloud.debug == 'yes'

      - name: Inject debug-neutron.yaml
        copy:
            src: files/debug-neutron.yaml
            dest: "{{ template_base }}"
        when: installer.overcloud.debug.neutron == 'yes'

      - name: Check for the network-environment file
        find:
            paths: "{{ template_base }}"
            patterns: "{{ network_environment_file }}"
            recurse: yes
        register: network_environment_file_path

      # TODO: Move this to pre run verification
      - fail:
            msg: "The {{ network_environment_file }} file is missing"
        when: 'network_environment_file_path.matched == 0'
