{% for host in groups['all'] %}
{% if host not in ['localhost'] %}
Host {{ host }}
    HostName {{ hostvars[host].ansible_ssh_host }}
    User {{ hostvars[host].ansible_ssh_user }}
    IdentityFile {{ hostvars[host].ansible_ssh_private_key_file }}
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
    ForwardAgent yes
{% if host != 'virthost' %}
    ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p -i {{ hostvars['virthost'].ansible_ssh_private_key_file }} {{ provisioner.host.user }}@{{ provisioner.host.address }}
{% endif %}
{% endif %}

{% endfor %}
