- name: Controller
  count: {{ (install.controller|default({})).nodes|default(0) or groups.controller|default([])|length or '1' }}
  hostname_format: controller-%index%
  defaults:
    profile: control
    network_config:
      default_route_network:
      - External
      template: /home/stack/composable_roles/network/nic-configs/controller{{ ('ipv6' in install.network.protocol) | ternary('-v6','') }}.j2
    networks:
    - network: ctlplane
      vif: true
    - network: storage
    - network: storage_mgmt
{%- if install.manila.storage.protocol == 'nfs-ganesha' %}
    - network: storage_nfs
{% endif -%}
    - network: internal_api
    - network: tenant
    - network: external
- name: Compute
  count: {{ (install.compute|default({})).nodes|default(0) or groups.compute|default([])|length or (install.hybrid is defined)| ternary('1','0') }}
  hostname_format: compute-%index%
  defaults:
    profile: compute
    network_config:
      template: /home/stack/composable_roles/network/nic-configs/compute.j2
    networks:
    - network: ctlplane
      vif: true
    - network: storage
    - network: internal_api
    - network: tenant
- name: Novacontrol
  count: {{ (install.novacontrol|default({})).nodes|default(0) or groups.novacontrol|default([])|length or (install.hybrid is defined)| ternary('1','0') }}
  hostname_format: novacontrol-%index%
  defaults:
    profile: novacontrol
    network_config:
      template: /home/stack/composable_roles/network/nic-configs/novacontrol.j2
    networks:
    - network: ctlplane
      vif: true
    - network: storage
    - network: internal_api
{% if not install.storage.external %}
{%- if install.storage.backend == 'ceph' %}
- name: CephStorage
  count: {{ (install.storage.nodes|default(0)) or (groups['ceph']|default([])|length) or 1 }}
  hostname_format: ceph-%index%
  defaults:
    profile: ceph-storage
    network_config:
      template: /home/stack/composable_roles/network/nic-configs/ceph-storage.j2
    networks:
    - network: ctlplane
      vif: true
    - network: storage
    - network: storage_mgmt
{% endif -%}
{%- if install.storage.backend == 'swift' %}
- name: SwiftStorage
  count: {{ (install.storage.nodes|default(0)) or (groups['swift']|default([])|length) or 1 }}
  hostname_format: swift-%index%
  defaults:
    profile: swift-storage
    network_config:
      template: /home/stack/composable_roles/network/nic-configs/swift-storage.j2
    networks:
    - network: ctlplane
      vif: true
    - network: storage
    - network: storage_mgmt
{% endif %}
{% endif %}
