# three-nics-vlans
# v2 config

parameter_defaults:
    ControllerNetworkConfigTemplate: '/home/stack/composable_roles/network/{{ deployment_files_defaults.nic_configs_dir }}/controller.j2'
    ComputeNetworkConfigTemplate: '/home/stack/composable_roles/network/{{ deployment_files_defaults.nic_configs_dir }}/compute.j2'
    BlockStorageNetworkConfigTemplate: '/home/stack/composable_roles/network/{{ deployment_files_defaults.nic_configs_dir }}/cinder-storage.j2'
    ObjectStorageNetworkConfigTemplate: '/home/stack/composable_roles/network/{{ deployment_files_defaults.nic_configs_dir }}/swift-storage.j2'
    CephStorageNetworkConfigTemplate: '/home/stack/composable_roles/network/{{ deployment_files_defaults.nic_configs_dir }}/ceph-storage.j2'
{% if install.network.dvr %}
    NeutronExternalNetworkBridge: "br-ex"
{% else %}
    NeutronExternalNetworkBridge: ""
{% endif %}
{% if install.version|openstack_release > 14 and not install.network.dvr and not install.network.ovs %}
    ControllerParameters:
      NeutronBridgeMappings: "datacentre:br-ex,tenant:br-tenant"
    ComputeParameters:
      NeutronBridgeMappings: ""
{% else %}
    NeutronBridgeMappings: "datacentre:br-ex,tenant:br-tenant"
{% endif %}
    NeutronNetworkVLANRanges: "tenant:1000:2000"
