---
parameter_defaults:
{% if not install.network.render.templates|default(False) %}
    ExternalNetCidr: '10.0.0.0/24'
    ExternalAllocationPools: [{'start': '10.0.0.101', 'end': '10.0.0.149'}]
    ExternalInterfaceDefaultRoute: '10.0.0.1'
    InternalApiNetCidr: '172.17.1.0/24'
    InternalApiAllocationPools: [{'start': '172.17.1.10', 'end': '172.17.1.149'}]
    InternalApiNetworkVlanID: 20
    StorageNetCidr: '172.17.3.0/24'
    StorageAllocationPools: [{'start': '172.17.3.10', 'end': '172.17.3.149'}]
    StorageNetworkVlanID: 30
    StorageMgmtNetCidr: '172.17.4.0/24'
    StorageMgmtAllocationPools: [{'start': '172.17.4.10', 'end': '172.17.4.149'}]
    StorageMgmtNetworkVlanID: 40
    TenantNetCidr: '172.17.2.0/24'
    TenantAllocationPools: [{'start': '172.17.2.10', 'end': '172.17.2.149'}]
    TenantNetworkVlanID: 50
{% endif %}
    DnsServers: ['10.0.0.1']
{% if install.splitstack|default(False) %}
    ControlPlaneDefaultRoute: {{ ansible_host|default(ansible_ssh_host) }}
    EC2MetadataIp: {{ ansible_host|default(ansible_ssh_host) }}
{% elif install.version|openstack_release < 16 %}
    ControlPlaneDefaultRoute: 192.168.24.1
    EC2MetadataIp: 192.168.24.1
{% else %}
    EC2MetadataIp: 192.168.24.1
{% endif %}
{% if install.version|openstack_release < 16 %}
    ControlPlaneSubnetCidr: "24"
{% endif %}
{% if not (install.ntp.pool|default(False) and install.version|openstack_release >= 15) %}
    NtpServer: ["clock1.rdu2.redhat.com"]
{% endif %}
    NeutronBridgeMappings: "datacentre:br-ex,tenant:br-isolated"
    NeutronNetworkVLANRanges: "tenant:1000:2000"
{% if install.storage.protocol.backend == 'nfs-ganesha' %}
    StorageNFSNetCidr: '172.17.5.0/24'
    StorageNFSNetworkVlanID: 70
    StorageNFSAllocationPools: [{'start': '172.17.5.10', 'end': '172.17.5.149'}]
{% endif %}
