# NOTE: dns_name: maybe redhat.local needs to be used here too
- network: ctlplane
  dns_name: overcloud
- network: external
  dns_name: overcloud
- network: internal_api
  dns_name: overcloud
- network: storage
  dns_name: overcloud
- network: storage_mgmt
  dns_name: overcloud
{% if install.manila.storage.protocol == 'nfs-ganesha' %}
- network: storage_nfs
  dns_name: overcloud
{% endif %}
