---
- name: Configure tempest
  hosts: tester
  gather_facts: yes
  roles:
      - {role: tester/tempest/setup/git, when: tester.setup.type == "git"}
      - {role: tester/tempest/setup/rpm, when: tester.setup.type == "rpm"} #WIP
  tasks:
      - name: create a command to use tempest with our venv if needed
        copy:
          dest: "{{ tester.dir }}/with_venv"
          mode: 0755
          content: |
            #!/bin/bash
            cd "$(dirname $0)"
            [[ -d .venv ]] && source .venv/bin/activate
            exec "$@"

      - name: copy the keystonerc to the tester
        copy:
            src: "{{ inventory_dir }}/keystonerc"
            dest: "~/keystonerc"

      - name: copy the tempest-deployer-input.conf to the tester in case it exists
        copy:
            src: "{{ inventory_dir }}/tempest-deployer-input.conf"
            dest: "~/tempest-deployer-input.conf"
        register: result
        ignore_errors: yes

      - name: Create heat_stack_owner
        shell: "source ~/keystonerc; keystone role-create --name heat_stack_owner"
        when: installer.type == "ospd"

      - name: run tempest configuration tool
        vars:
            deployer_input: "{{ '(result | success)' | ternary('--deployer-input ~/tempest-deployer-input.conf', '') }}"
            orchestration: "{{ (installer.type == 'ospd') | ternary('orchestration.stack_owner_role heat_stack_owner', '') }}"
        shell: "source ~/keystonerc; ./with_venv tools/config_tempest.py {{ deployer_input }} --debug --create identity.uri $OS_AUTH_URL identity.admin_password $OS_PASSWORD {{ orchestration }}"
        args:
            chdir: "~/tempest-dir"
