---
- name: Configure tempest
  hosts: tester
  gather_facts: yes
  vars:
      default_rc_file: "{{ inventory_dir }}/keystonerc"
      rc_file: "{{ tester.openstackrc | default(default_rc_file) }}"

      # todo(obaranov) remove installer reference in IR2 and use only tester.* settings
      openstack_installer_type: "{{ (tester.openstack|default({})).installer | default((installer|default({})).type|default('')) }}"
      openstack_version: "{{ (tester.openstack|default({})).version | default(((installer|default({})).product|default({})).version|default('')) }}"
      deployer_input: "~/tempest-deployer-input.conf"
  pre_tasks:
      - name: Fail if installer type is not provided
        fail:
            msg: |
                Installer name has not been provided.
                Use '--openstack-installer' cli option or provide installer settigs to the tester
        when: openstack_installer_type == ''

      - name: Fail if openstack version is not provided
        fail:
            msg: |
                Openstack version has not been provided.
                Use '--openstack-version' cli option or provide installer settigs to the tester
        when: openstack_version == ''

      - name: print installer type
        debug:
            var: openstack_installer_type
            verbosity: 3

      - name: print product version
        debug:
            var: openstack_version
            verbosity: 3

      - name: copy the openstackrc to the tester
        copy:
            src: "{{ rc_file }}"
            dest: "~/keystonerc"

      - name: copy the tempest-deployer-input to the tester
        copy:
            src: "{{ tester.deployer.input.file }}"
            dest: "~/tempest-deployer-input.conf"
        when: tester.deployer is defined and tester.deployer.input.method == 'copy'
        ignore_errors: yes

      - name: set fact for copied deployer config
        set_fact:
            deployer_input: "~/tempest-deployer-input.conf"
        when: tester.deployer is defined and tester.deployer.input.method == 'copy'

      - name: set fact for local deployer config
        set_fact:
            deployer_input: "~/{{ tester.dir }}/{{ tester.deployer.input.file }}"
        when: tester.deployer is defined and tester.deployer.input.method == 'local'

      - name: print deployer input file to be used
        debug:
            var: deployer_input
            verbosity: 3

      # run installer specific tasks
      - name: check for additional configuration tasks for installer '{{ openstack_installer_type }}'
        stat:
            path: "{{ playbook_dir }}/pre/{{ openstack_installer_type }}.yml"
        delegate_to: localhost
        register: pre_installer_file

      - name: run configuration tasks for installer '{{ openstack_installer_type }}'
        include: "pre/{{ openstack_installer_type }}.yml"
        when: pre_installer_file.stat.exists

  roles:
      - {role: tester/tempest/setup/git, when: tester.setup.type == "git"}
      - {role: tester/tempest/setup/rpm, when: tester.setup.type == "rpm"} #WIP
