---
- name: Run tempest
  hosts: tester
  gather_facts: no
  vars:
      testr_args: "{{ tester.threads is defined | ternary('--parallel --concurrency=%s' | format(tester.threads), '')}}"
  tasks:
      - name: remove old test list
        file:
            state: absent
            name: "{{ tester.dir }}/skipfile"

      - name: create Test List - Whitelist
        lineinfile:
            create: yes
            dest: "{{ tester.dir }}/skipfile"
            line: "+{{ item }}"
            regexp: "^[-+]{{ item }}$"
        with_items: tester.tests.whitelist
        register: wlist
        when: tester.tests.whitelist is defined and tester.tests.whitelist

      - name: create Test List - Blacklist
        lineinfile:
            create: yes
            dest: "{{ tester.dir }}/skipfile"
            line: "-{{ item }}"
            regexp: "^[-+]{{ item }}$"
        with_items: tester.tests.blacklist
        when: tester.tests.blacklist is defined and tester.tests.blacklist

      - name: add skipfile invocation
        set_fact:
            skipfile: "--skip-file ./skipfile"
        when: (tester.tests.whitelist is defined and tester.tests.whitelist) or (tester.tests.blacklist is defined and tester.tests.blacklist)

      - name: run tempest
        shell: "{{ tester.dir }}/with_venv ./tools/run-tests.sh {{ testr_args }} {{ tester.tests.test_regex }} {{ skipfile|default('') }}"
        ignore_errors: true
        when: tester.tests.test_regex is defined or skipfile is defined
