---
# Any step that should happen before initiating the osp-d playbook
# This could be validation of the hosts, package installation that is assumed as per the guide, etc..
- name: Pre tasks
  hosts: localhost

- name: Remove requiretty
  gather_facts: no
  tags: backup
  hosts: undercloud
  tasks:
      - name: sudoers no tty
        become: yes
        lineinfile: dest=/etc/sudoers state=absent regexp='Defaults\s+requiretty'
