- name: Add rhos-release repos and update ipxe-roms (for Ironic) 
  hosts: virthost
  tags: backup
  gather_facts: yes
  roles:
      - role: installer/rhos-release
        rr_rpm_url: "{{ installer.product.rpm }}"
        director_version: "{{ installer.product.version }}"
        director_build: "{{ installer.product.build }}"
        core_version: "{{ installer.product.core.version }}"
        core_build: "{{ installer.product.core.build }}"
        qe_mirror: "{{ installer.qe_mirror | default(omit) }}"
  tasks:
      - name: update /etc/hosts with VMs details
        lineinfile:
            dest: "/etc/hosts"
            line: "{{ hostvars[item].ansible_ssh_host }}    {{ item }}.redhat.local {{ item }}"
            regexp: ".*{{ item }}$"
            state: present
        with_items: "{{ groups['all'] | difference(['localhost']) | difference(['virthost']) }}"

      - name: get Ironic requirement
        yum:
            state: latest
            name: ipxe-roms-qemu
        register: update

- include: "quickstart-undercloud.yml"
  when: "'undercloud' not in groups"

# Dumping all facts for later use
- name: Dumping facts from all nodes for later use
  hosts: all:!localhost
  gather_facts: no
  tags: virthost
  tasks:
      - name: Dumping facts
        setup:

- name: Prepare the instackenv.json
  tags: instack
  hosts: undercloud
  gather_facts: no
  become: yes
  become_user: "{{ installer.user.name }}"
  vars:
      - instack_file: "/home/{{ installer.user.name }}/{{ installer.deployment.files.rstrip('/') | basename }}/instackenv.json"
  tasks:
      - name: copy our undercloud public key
        fetch:
            src: "/home/{{ installer.user.name }}/.ssh/id_rsa.pub"
            dest: "{{ inventory_dir }}/id_rsa_undercloud.pub"
            flat: yes

      - name: fetch our jinja template for editing
        fetch:
            src: "{{ instack_file }}"
            dest: "/tmp/instackenv.json.template"
            flat: yes

      - name: prepare instack.json
        template:
            src: "/tmp/instackenv.json.template"
            dest: "{{ instack_file }}.template"

      - name: populate the private key
        shell: "cat {{ instack_file }}.template | jq --arg key \"$(cat ~/.ssh/id_rsa)\" '. | .nodes[].pm_password=$key | .[\"ssh-key\"]=$key'> {{ instack_file }}"

# In case we're dealing with virthost, we need to make sure the undercloud is able to ssh to the hypervisor
- name: Create the stack user on the virthost and allow SSH to hypervisor
  hosts: virthost
  gather_facts: no
  tasks:
      - name: create stack user on virthost
        user:
            name: "{{ installer.user.name }}"
            state: present
            password: "{{ installer.user.password | password_hash('sha512') }}"

      - name: set permissions for the user to access the hypervisor
        copy:
            content: |
                [libvirt Management Access]
                Identity=unix-user:{{ installer.user.name }}
                Action=org.libvirt.unix.manage
                ResultAny=yes
                ResultInactive=yes
                ResultActive=yes
            dest: "/etc/polkit-1/localauthority/50-local.d/50-libvirt-user-{{ installer.user.name }}.pkla"

      - name: print the public key
        shell: "cat {{ inventory_dir }}/id_rsa_undercloud.pub"
        register: undercloud_public_key
        delegate_to: localhost

      - name: insert the public key to the known hosts in virthost
        authorized_key:
            user: "{{ installer.user.name }}"
            key: "{{ undercloud_public_key.stdout }}"

- include: "backup-undercloud.yml"
  tags: backup
  when: "backup is defined"
