---
- name: Set selinux state
  tags: backup
  hosts: openstack_nodes
  become: yes
  become_method: sudo
  tasks:
    - selinux: policy=targeted state={{ installer.selinux|default('enforcing') }}

- name: Ensure yum presence
  tags: backup
  hosts: openstack_nodes
  gather_facts: no
  become: yes
  become_method: sudo
  tasks:
    - shell: python -c 'import yum' || (dnf install -y yum yum-utils && ln -snf /usr/bin/yum-deprecated /usr/bin/yum)

- name: Setup Firewall Rules
  tags: backup
  hosts: openstack_nodes:!tester
  gather_facts: no
  become: yes
  become_method: sudo
  serial: 1
  tasks:
      #TODO: change to iptables ansible module
      - name: Iptables - Set default rules
        command: "iptables {{ item }}"
        with_items: installer.firewall.rules

      # packstack does not change the rules if they do not conflict
      # and they are saved, so save them.
      - name: Iptables - Save default rules
        shell: /sbin/iptables-save >/etc/sysconfig/iptables

- include: "installer/{{ installer.type }}/main.yml"

- name: Update the inventory file
  hosts: localhost
  gather_facts: no
  tasks:
      - name: Generate new Inventory file
        template:
          dest: "{{ lookup('env', 'PWD') }}/hosts-installer"
          src: "{{ inventory_dir }}/templates/inventory.j2"

      - name: Link to new Inventory file
        file:
          dest: "{{ lookup('env', 'PWD') }}/hosts"
          state: link
          src: "{{ lookup('env', 'PWD') }}/hosts-installer"
