---
- name: Change key file permissions
  hosts: localhost
  gather_facts: no
  tasks:
    - file:
        path: "{{ provisioner.key_file }}"
        state: touch
        mode: 0600
      when: provisioner.key_file is defined

- name: clean old inventory file
  hosts: localhost
  gather_facts: no
  tasks:
    - file:
        dest: "{{ lookup('env', 'PWD') }}/hosts"
        state: link
        src: "{{ lookup('env', 'PWD') }}/local_hosts"

- include: "provisioner/{{ provisioner.type }}/main.yml"

- name: generate inventory file
  hosts: localhost
  gather_facts: no
  tasks:
    - template:
        dest: "{{ lookup('env', 'PWD') }}/hosts-prov"
        src: "{{ inventory_dir }}/templates/inventory.j2"

    - file:
        dest: "{{ lookup('env', 'PWD') }}/hosts"
        state: link
        src: "{{ lookup('env', 'PWD') }}/hosts-prov"

