#!/bin/bash

openstack overcloud deploy --templates /usr/share/openstack-tripleo-heat-templates/ \
  -r {{ template_base }}/roles/roles_data.yaml \
  -e {{ template_base }}/roles/nodes.yaml \
  -e {{ template_base }}/roles/network-config.yaml \
{% if installer.overcloud.debug %}
  -e {{ template_base  }}/debug.yaml \
{% endif %}
{% if installer.overcloud.debug.neutron %}
  -e {{ template_base  }}/debug-neutron.yaml \
{% endif %}
