fence_virtd {
        listener = "multicast";
        backend = "libvirt";
}

listeners {
        multicast {
                key_file = "/etc/cluster/fence_xvm.key";
                address = "225.0.0.12";
                interface = "data"; # TODO: Do we need to change that?
        }
}

backends {
        libvirt {
                uri = "qemu:///system";
        }
}

