DEVICE={{ installer.loadbalancer.network.ex_interface }}:0
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ installer.loadbalancer.network.external.vip | ipaddr('address') }}
NETMASK={{ installer.loadbalancer.network.external.vip | ipaddr('netmask') }}
USERCTL=no
NM_CONTROLLED=no
