DEVICE={{ installer.loadbalancer.network.oc_interface }}.{{ parameter_defaults.TenantNetworkVlanID }}
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ installer.loadbalancer.network.tenant.vip | ipaddr('address') }}
NETMASK={{ installer.loadbalancer.network.tenant.vip | ipaddr('netmask') }}
USERCTL=no
VLAN=yes
NM_CONTROLLED=no
