DEVICE={{ installer.loadbalancer.network.ex_interface }}:0
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ installer.loadbalancer.network.external.vip | ipaddr('address') }}
PREFIX={{ installer.loadbalancer.network.external.vip | ipaddr('prefix') }}
USERCTL=no
NM_CONTROLLED=no
