DEVICE={{ installer.overcloud.loadbalancer.network.ex_interface }}
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ installer.overcloud.loadbalancer.network.external.vip | ipaddr('address') }}
NETMASK={{ installer.overcloud.loadbalancer.network.external.vip | ipaddr('netmask') }}
USERCTL=no
NM_CONTROLLED=no
