DEVICE={{ installer.loadbalancer.network.provision_interface }}.{{ installer.loadbalancer.network.tenant.vlanid }}
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ installer.loadbalancer.network.tenant.vip | ipaddr('address') }}
PREFIX={{ installer.loadbalancer.network.tenant.vip | ipaddr('prefix') }}
USERCTL=no
VLAN=yes
NM_CONTROLLED=no
