DEVICE="{{ installer.loadbalancer.network.oc_interface }}"
BOOTPROTO="static"
ONBOOT="yes"
TYPE="Ethernet"
IPADDR={{ installer.loadbalancer.network.plain.ip | ipaddr('address') }}
PREFIX={{ installer.loadbalancer.network.plain.ip | ipaddr('prefix') }}
GATEWAY={{ installer.loadbalancer.network.plain.gateway }}
PERSISTENT_DHCLIENT="yes"
DNS1={{ installer.loadbalancer.network.plain.dns1 }}
NM_CONTROLLED=no
METRIC=20
