DEVICE={{ installer.loadbalancer.network.oc_interface }}.{{ installer.network.isolation.template.content.parameter_defaults.StorageNetworkVlanID }}
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ installer.loadbalancer.network.storage.vip | ipaddr('address') }}
NETMASK={{ installer.loadbalancer.network.storage.vip | ipaddr('netmask') }}
USERCTL=no
VLAN=yes
NM_CONTROLLED=no
