DEVICE={{ installer.loadbalancer.network.oc_interface }}.{{ installer.network.isolation.template.content.parameter_defaults.InternalApiNetworkVlanID }}
BOOTPROTO=static
ONBOOT=yes
IPADDR1={{ installer.loadbalancer.network.internal_api.vip | ipaddr('address') }}
IPADDR2={{ installer.loadbalancer.network.redis.vip | ipaddr('address') }}
PREFIX1={{ installer.loadbalancer.network.internal_api.vip | ipaddr('prefix') }}
PREFIX2={{ installer.loadbalancer.network.redis.vip | ipaddr('prefix') }}
USERCTL=no
VLAN=yes
NM_CONTROLLED=no
