DEVICE={{ installer.loadbalancer.network.oc_interface }}.{{ parameter_defaults.StorageMgmtNetworkVlanID }}
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ installer.loadbalancer.network.storage_mgmnt.vip | ipaddr('address') }}
NETMASK={{ installer.loadbalancer.network.storage_mgmnt.vip | ipaddr('netmask') }}
USERCTL=no
VLAN=yes
NM_CONTROLLED=no
