DEVICE="{{ installer.overcloud.loadbalancer.network.oc_interface }}"
BOOTPROTO="static"
ONBOOT="yes"
TYPE="Ethernet"
IPADDR={{ installer.overcloud.loadbalancer.network.plain.ip | ipaddr('address') }}
NETMASK={{ installer.overcloud.loadbalancer.network.plain.ip | ipaddr('netmask') }}
GATEWAY={{ installer.overcloud.loadbalancer.network.plain.gateway }}
PERSISTENT_DHCLIENT="yes"
DNS1={{ installer.overcloud.loadbalancer.network.plain.dns1 }}
NM_CONTROLLED=no
METRIC=20
