parameter_defaults:
    CloudDomain: {{ freeipa_cloud_domain }}
    CloudName: overcloud.{{ freeipa_cloud_domain }}
    CloudNameInternal: overcloud.internalapi.{{ freeipa_cloud_domain }}
    CloudNameStorage: overcloud.storage.{{ freeipa_cloud_domain }}
    CloudNameStorageManagement: overcloud.storagemgmt.{{ freeipa_cloud_domain }}
    CloudNameCtlplane: overcloud.ctlplane.{{ freeipa_cloud_domain }}
