export UndercloudFQDN={{ groups['undercloud'][0] }}.{{ freeipa_cloud_domain }}
export UsingNovajoin=true
export UsingNovajoin=TRUE
export Hostname={{ freeipa_node }}.{{ freeipa_cloud_domain }}
export FreeIPAIP={{ freeipa_node_ipaddress }}
export AdminPassword={{ freeipa_admin_password }}
export HostsSecret={{ freeipa_hosts_secret }}
export DirectoryManagerPassword={{ freeipa_directory_manager_password }}