resource_registry:
  OS::TripleO::Services::IpaClient: {{ freeipa_heat_templates_basedir }}/deployment/ipa/ipaservices-baremetal-ansible.yaml

parameter_defaults:
  IdMServer: {{ freeipa_node }}.{{ freeipa_domain }}
  IdMDomain: {{ freeipa_domain }}
  DnsServers: {{ dns_servers }}
  IdMInstallClientPackages: {{ freeipa_overcloud_install_packages }}
