parameter_defaults:
    ControlFixedIPs: [{'ip_address':'192.168.24.101'}]
    PublicVirtualFixedIPs: [{'ip_address':'2620:52:0:13b8:5054:ff:fe3e:a9'}]
    InternalApiVirtualFixedIPs: [{'ip_address':'fd00:fd00:fd00:2000:aaaa:aaaa:ffff:fffd'}]
    StorageVirtualFixedIPs: [{'ip_address':'fd00:fd00:fd00:3000:aaaa:aaaa:ffff:fffd'}]
    StorageMgmtVirtualFixedIPs: [{'ip_address':'fd00:fd00:fd00:4000:aaaa:aaaa:ffff:fffd'}]
    RedisVirtualFixedIPs: [{'ip_address':'fd00:fd00:fd00:2000:aaaa:aaaa:ffff:fffc'}]
