parameter_defaults:
    ControlFixedIPs: [{'ip_address':'{{ tls_everywhere.network.control_vip }}'}]
    PublicVirtualFixedIPs: [{'ip_address':'{{ tls_everywhere.network.public_vip }}'}]
    InternalApiVirtualFixedIPs: [{'ip_address':'{{ tls_everywhere.network.internalapi_vip }}'}]
    StorageVirtualFixedIPs: [{'ip_address':'{{ tls_everywhere.network.storage_vip }}'}]
    StorageMgmtVirtualFixedIPs: [{'ip_address':'{{ tls_everywhere.network.storagemgmt_vip }}'}]
    RedisVirtualFixedIPs: [{'ip_address':'{{ tls_everywhere.network.redis_vip }}'}]
